/**
 * Shurtape - homepage CSS
 * =======================
 * NOTE: keep the .front body class prepended to all selectors
 */

/**
 * subcontent
 */
.front #subcontent #cta_nav {
	background-color:#003e69;
	color:#ffffff;
	padding:4px;
}

.front #subcontent #cta_nav .intro {
	color:#e6e6e6;
	font-size:16px;
	text-transform:uppercase;
	width:300px;
	line-height:90px;
	text-align:right;
	padding-right:30px;
	font-weight:bold;
	margin-left:30px;
}

.front #subcontent #cta_nav .primary {
	width:250px;
	line-height:86px;
}

.front #subcontent #cta_nav .secondary {
	width:200px;
	padding-top:6px;
}

.front #subcontent #cta_nav .secondary .btn {
	margin:6px 0;
	width:190px;
}

.front #subcontent #cta_nav .separator {
	width:20px;
	height:90px;
	background-color:transparent;
	background-image:url(../images/bg_cta_separator.png);
	background-repeat:no-repeat;
	background-position:50% 50%;
	display:block;
	overflow:hidden;
	line-height:90px;
	text-align:center;
	font-weight:bold;
	margin:0 30px;
}


/**
 * previously viewed carousel
 */
.front #subcontent .carousel {
	clear:both;
	overflow:hidden;
	position:relative;
	margin:0 14px 40px;
}

.front #subcontent .carousel h2 {
	color:#003e69;
}

.front #subcontent .carousel .slide {
	overflow:hidden;
}

.front #subcontent .carousel .slide a {
	text-decoration:none !important;
	color:#000000 !important;
	display:block;
}

.front #subcontent .carousel .slide img {
	max-width: 100%;
	width: 100%;
	height: auto;
}

.front #subcontent .carousel .control {
	background-color:transparent;
	background-repeat:no-repeat;
	background-position:50% 50%;
	width:53px;
	height:43px;
	display:block;
	position:absolute;
	top:50%;
}

.front #subcontent .carousel .control.prev {
	left:0;
	background-image:url(../images/btn_subnav_arrow_left.png);
}

.front #subcontent .carousel .control.next {
	right:0;
	background-image:url(../images/btn_subnav_arrow_right.png);
}


.front #subcontent .carousel .slide_window {
	clear:both;
	overflow:hidden;
	display:block;
	float:none;
	width:800px;
	margin:0 auto;
	position:relative;
}

.front #subcontent .carousel .item {
	float:left;
	width:160px;
	text-decoration:none;
	display:inline-block;
	height:180px;
	margin:10px 20px;
	padding:10px;
	color:#000000 !important;
}

.front #subcontent .carousel .item .item_thumb {
	clear:both;
	display:block;
	margin-bottom:10px;
}

.front #subcontent .carousel .item .item_title {
	clear:both;
	display:block;
	font-size:16px;
	line-height:16px;
	font-weight:bold;
}

.front #subcontent .carousel .item .item_desc {
	clear:both;
	display:block;
	font-size:10px;
	line-height:14px;
	font-weight:bold;
	margin-bottom:10px;
}


.front #subcontent .carousel .item .item_category {
	clear:both;
	display:block;
	font-size:10px;
	text-transform:uppercase;
}

/**
 * product by market grid (homepage touts) - slight change from product by market grid on product index (main.css)
 */
.front .product_grid ul {
	margin-right:0 !important;
	margin-left:0 !important;
}

.front .product_grid ul li {
	padding-right:20px;
	padding-left:20px;
	margin:0 0 40px !important;
}

.front .product_grid ul li a.item .item_title {
	font-size:20px;
	padding:10px;
	padding-left:36px;
	min-height:40px !important;
}

.front .product_grid ul li a.item .cta_arrow {
	top:10px;
	left:10px;
}


/**
 * responsiveness
 */
/* sm devices (tablets) */
@media (min-width: 768px) and (max-width: 991px) {

}

/* xs devices (phones) */
@media (max-width: 767px) {
	
}

/* xs devices (phones) */
@media (max-width: 500px) {
	
}