/**
 * Shurtape - common site CSS
 */

/**
 * global
 */
body {
	color:#000000;
	font-family:"franklin-gothic-urw",sans-serif;
	background-color:#003e69;
	min-width:1200px;
	overflow-y: scroll;
}

iframe {
	display:block;
	margin:10px;
}

p {
	margin-bottom:1.6em;
	font-style:normal;
	font-weight:400;
}

a {
	color:#003e69;
	text-decoration:none;
	/*
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;
	*/
}

b {
	font-weight:bold;
}

a:hover {
	color:#999999;
}

/**
 * typography
 */
.headline {
	color:#f57e20;
	margin:0;
	margin-top:20px;
	padding-left:6px;
	font-size:24px;
	font-weight:bold;
}

.blue_bar {
	color: #ffffff;
	background-color: #003e69;
	min-height:32px;
	line-height:32px;
	overflow:hidden;
	clear:both;
	display:block;
	float:none;
	margin:10px 0 20px;
	padding:0 12px;
}


b {
	font-weight: bold !important;
}

strong {
	font-weight: bold !important;
}

i {
	font-style: italic !important;
}

em {
	font-style: normal !important;
}

hr {
	border:none;
	border-top:1px solid #cccccc !important;
	margin:20px 0;
}

.small {
	font-size: 12px !important;
}

.blue {
	color:#003e69;
}

.orange {
	color:#f57e20;
}

.white {
	color: #ffffff !important;
}

.regular,
.reg {
	font-size: 14px !important;
}

.medium,
.med {
	font-size: 16px !important;
}

.large,
big {
	font-size: 22px !important;
}

.xlarge {
	font-size: 30px !important;
}

.xxlarge {
	font-size: 36px !important;
}

.xxxlarge {
	font-size: 56px !important;
}



/**
 * common
 */
.fixed_wrap {
	width:940px;
	margin:0 auto;
}

.white_box {
	background-color:#ffffff;
	background-image:none;
	padding:20px;
	-moz-border-radius:.4em;
	-webkit-border-radius:.4em;
	border-radius:.4em;
	border:1px solid #cccccc;
	-moz-box-shadow:0 0 6px #cccccc;
	-webkit-box-shadow:0 0 6px #cccccc;
	box-shadow:0 0 6px #cccccc;
}

.pad {
	margin:20px 0;
}

.padded_body {
	padding:0 30px;
}

ul.link_list {
	padding:0 20px;
	margin-bottom:40px;
}

ul.link_list li {
	margin-bottom:10px;
}

ul.link_list .link_desc {
	clear:both;
	display:block;
}

ul.event_list li {
	margin-bottom:20px;
	overflow:hidden;
	clear:both;
	display:block;
}


ul.event_list li .event_thumb {
	display:inline-block;
	float:left;
	max-width:150px;
	margin-right:30px;
}

ul.event_list li .event_thumb img {
	max-width:100%;
}

ul.event_list li .event_content {
	display:inline-block;
	float:left;
	width:600px;
}

ul.event_list li .event_content h3 {
	color:#003e69;
	font-size:22px;
	font-weight:bold;
	margin-bottom:4px;
	margin-top:16px !important;
}

ul.unstyled {
	list-style-type:none;
	padding:0;
	margin:0;
}

ul.unstyled li {
	list-style-type:none;
	float:none;
	clear:both;
	display:block;
}

/**
 * pagination
 */
.item-list ul.pager {
	list-style:none;
	margin:6px 0;
	display: inline-block;
	margin-left: 20px;
}

.item-list ul.pager li {
	display:inline-block;
	text-decoration:none !important;
	padding:0;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e2e2e2);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e2e2e2));
	background-image: -webkit-linear-gradient(top, #ffffff, #e2e2e2);
	background-image: -o-linear-gradient(top, #ffffff, #e2e2e2);
	background-image: linear-gradient(to bottom, #ffffff, #e2e2e2);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe2e2e2', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #dddddd;
	font-size:10px;
	font-weight:bold;
	margin: 0;
}

.item-list ul.pager li a {
	border:none;
	margin:0;
	padding:4px 8px;
	background:none;
	text-decoration:none !important;
}

/* for the ajax wheel inside the pagination */
.item-list ul.pager li a.progress-disabled {
	text-indent:-9999px !important;
	padding:4px 0 !important;
}

.item-list ul.pager li .ajax-progress {
	float:left;
	padding-left:4px;
	padding-right:2px;
}


.item-list ul.pager li.pager-current {
	padding:4px 8px;
	background-color:#003e69 !important;
	background-image:none !important;
	color:#ffffff !important;
	border-color:transparent;
}

.item-list ul.pager li.pager-ellipsis {
	padding:4px 8px;
}

.item-list ul.pager li.pager-first,
.item-list ul.pager li.pager-last,
.item-list ul.pager li.pager-ellipsis {
	display: none;
}

/**
 * tab controls - on a couple pages
 */
ul.tab_controls {
	list-style:none;
	padding-left:0;
	margin:20px;
}

ul.tab_controls li {
	float:left;
	display:inline-block;
}

ul.tab_controls li a.tab_control {
	padding:10px 40px;
	margin-right:10px;
	text-decoration:none !important;
	font-size:16px;
	background-color:#cccccc !important;
	display:block;
	font-weight:bold;
	color:#000000 !important;
	-webkit-border-top-right-radius:.4em !important;
	-webkit-border-top-left-radius:.4em !important;
	-moz-border-radius-topright:.4em !important;
	-moz-border-radius-topleft:.4em !important;
	border-top-right-radius:.4em !important;
	border-top-left-radius:.4em !important;
}

ul.tab_controls li a.tab_control.current {
	background-color:#ffffff !important;
	color:#003e69 !important;
}

/**
 * Drupal tabs - some styling for the user login page and edit links above pages when user is logged in
 */
ul.tabs {
	list-style:none;
	padding:0 !important;
	margin:10px !important;
}

ul.tabs > li {
	float:left;
	display:inline-block;
}

ul.tabs > li > a {
	padding:8px 20px;
	margin-right:10px;
	text-decoration:none !important;
	font-size:14px;
	background-color:#cccccc !important;
	display:block;
	font-weight:bold;
	color:#000000 !important;
	margin-bottom:-1px !important;
	-webkit-border-top-right-radius:.4em !important;
	-webkit-border-top-left-radius:.4em !important;
	-moz-border-radius-topright:.4em !important;
	-moz-border-radius-topleft:.4em !important;
	border-top-right-radius:.4em !important;
	border-top-left-radius:.4em !important;
}

ul.tabs > li > a.active {
	background-color:#ffffff !important;
	color:#003e69 !important;
}

ul.secondary.tabs {
  border: none;
  margin: 10px 0;
}

ul.secondary.tabs > li {
  border: none;
  padding: 0;
}

ul.secondary.tabs > li > a {
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  border-radius: 10px !important;
  padding: 5px 15px;
}

ul.secondary.tabs > li > a.active {
  border: none;
  background-color: #003e69 !important;
  color: #ccc !important;
}

/**
 * forms
 */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="phone"],
textarea,
select {
	width:100%;
	padding:6px 12px;
	font-size:14px;
	line-height: 1.428571429;
	color:#333333;
	vertical-align: middle;
	background-color: #fff;
	border:1px solid #eeeeee;
	border-radius:8px;
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="phone"],
textarea {
	-moz-box-shadow: inset 2px 2px 2px #666666;
	-webkit-box-shadow: inset 2px 2px 2px #666666;
	box-shadow: inset 2px 2px 2px #666666;
}

select {
	border:1px solid #cccccc;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}


input[type="text"],
input[type="password"],
input[type="email"],
input[type="phone"] {
	display:block;
	height:34px;
}

select {
	display:inline-block;
	height:34px;
}

textarea {
	display:block;
	height:auto;
	background-image:none;
	overflow:auto;
	margin:0;
}

*:focus {
	/* outline:0 !important; */
}

.form_wrapper {
	padding:0 20px;
}

.form-control {
	color:#333333;
}

.form-inline {
	margin-bottom:16px;
}

.lt-ie9 input[type="text"],
.lt-ie9 input[type="password"],
.lt-ie9 input[type="email"],
.lt-ie9 input[type="phone"],
.lt-ie9 textarea,
.lt-ie9 select {
	border:2px solid #999999;
	border-right-color:#dddddd;
	border-bottom-color:#dddddd;
}


/* placeholders (inline labels) - these MUST STAY SEPARATE - do not combine */
.placeholder {
	color:#333333 !important;
}

::-webkit-input-placeholder { /* WebKit browsers */
	color:#333333 !important;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:#333333 !important;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:#333333 !important;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:#333333 !important;
}

/**
 * errors
 */
.all_errors_container {
	display:block;
	background:#dddddd;
	color:#d51212;
	padding:20px;
	display:none;
	font-size:12px;
	font-weight:bold;
	margin-bottom:20px;
	clear:both;
	overflow:hidden;
}

.error_container {
	display:none;
}

.error_field .error_container {
	color:#d51212;
	text-align:center;
	margin:10px 0;
	display:block;
}

.error_field input[type="text"],
.error_field input[type="password"],
.error_field input[type="email"],
.error_field select,
.error_field textarea {
	border:3px solid #d51212 !important;
}

/* placeholders (inline labels) - these MUST STAY SEPARATE - do not combine */
.error_field .placeholder {
	color:#d51212 !important;
}

.error_field ::-webkit-input-placeholder { /* WebKit browsers */
	color:#d51212 !important;
}

.error_field :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:#d51212 !important;
}

.error_field ::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:#d51212 !important;
}

.error_field :-ms-input-placeholder { /* Internet Explorer 10+ */
	color:#d51212 !important;
}


/**
 * buttons
 */
.btn {
	padding-left:1em;
	padding-right:1em;
	position: relative;
	border:none;
	font-weight:bold;
	text-decoration:none !important;
	color:#003e69;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-moz-border-radius:2em;
	-webkit-border-radius:2em;
	border-radius:2em;
	border:1px solid #cccccc;
}

.btn:focus,
.btn:active,
.btn.current {
	color:#003e69 !important;
	background-color:#eeeeee;
	border:1px solid transparent !important;
}

.btn:hover {
	color:#003e69 !important;
}

.btn.btn-wide {
	padding-left:3em;
	padding-right:3em;
}

.btn.btn-orange {
	color:#ffffff !important;
	background-color:#ee8925;
	background-image:-moz-linear-gradient(top, #feaa55, #e27203);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#feaa55), to(#e27203));
	background-image:-webkit-linear-gradient(top, #feaa55, #e27203);
	background-image:-o-linear-gradient(top, #feaa55, #e27203);
	background-image:linear-gradient(to bottom, #feaa55, #e27203);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffeaa55', endColorstr='#ffe27203', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-moz-border-radius:2em;
	-webkit-border-radius:2em;
	border-radius:2em;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
	border-color:transparent !important;
}

.btn.btn-orange:focus,
.btn.btn-orange:active,
.btn.btn-orange.current {
	color: #ffffff;
	background-color:#e77b11;
	border:none;
}

.btn.btn-orange:active,
.btn.btn-orange.current {
	background-image: none;
}

.btn.btn-squared {
	-moz-border-radius:.4em;
	-webkit-border-radius:.4em;
	border-radius:.4em;
	text-shadow:none;
	font-weight:normal;
}

#search_box .element-invisible {
	display:none !important;
}

#search_box .container-inline {
	position:relative;
	display:table;
	border-collapse:separate;
	margin:0 !important;
	box-sizing: border-box;
	width:100%;
}

#search_box .form-item {
	display: table-cell;
}

#search_box .form-actions {
	display: table-cell;
	padding:0 !important;
	vertical-align:middle;
	height:32px;
	width:36px;
	background-color:#0e4f7a;
	background-image:-moz-linear-gradient(top, #276f9b, #003e69);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#276f9b), to(#003e69));
	background-image:-webkit-linear-gradient(top, #276f9b, #003e69);
	background-image:-o-linear-gradient(top, #276f9b, #003e69);
	background-image:linear-gradient(to bottom, #276f9b, #003e69);
	background-repeat:repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff276f9b', endColorstr='#ff003e69', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	border-top-right-radius:8px;
	border-bottom-right-radius:8px;
	-webkit-border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-topright:8px;
	-moz-border-radius-bottomright:8px;
}


#search_box input[type="text"] {
	height: 34px;
	border:0px solid #ccc;
	border-right:none;
	border-top-right-radius:0;
	border-bottom-right-radius:0;
}

.lt-ie9 #search_box input[type="text"] {
	border:2px solid #999999;
	border-right:none;
	border-bottom-color:#dddddd;
}

#search_box input[type="submit"] {
	color:#ffffff;
	text-indent:-999px;
	width:100%;
	height:32px;
	padding-left:0.6em !important;
	padding-right:0.6em !important;
	border:none;
	background-image:url(../images/icon_search.png);
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-color:transparent;
}

#search_box .form-actions:active,
#search_box .form-actions.current {
	background-color:#084873;
	background-image:none;
	border:none;
}


/**
 * tables
 */
table.table {
	clear:both;
	margin:20px 0;
	font-size:13px;
	background-color:#ffffff;
	border:1px solid transparent;
}

table.table thead th {
	background-color:#003e69;
	color:#ffffff;
	text-transform:uppercase;
	padding:8px 12px;
	font-size:12px;
	font-weight:bold;
	border:none !important;
	vertical-align:middle;
}

table.table tbody tr td {
	padding:6px 12px;
	border:1px solid #ffffff;
}

table.table tbody td.region {
	text-transform:uppercase;
	font-size:12px;
	font-weight:bold;
}

table.table tbody tr td.gray_cell {
	background-color:#cccccc;
	font-weight:bold;
}

table.table tfoot tr td {
	background-color:#003e69;
	color:#ffffff;
}

/**
 * div table (necessary for mobile
 * - since TABLE TR TD markup puts markup out of order for conversion to content blocks
 */
.div_table {
	width:100%;
	display:block;
	clear:both;
	overflow:hidden;
}

.div_table .heading_row {
	padding:0;
	font-weight:bold;
}

.div_table .div_table_row {
	display:block;
	clear:both;
	float:none;
	overflow:hidden;
	margin-bottom:10px;
}

.div_table .div_table_col {
	display:inline-block;
	float:left;
}

/**
 * contact page table
 */
.contact_table {
	font-size:0.9em;
}

.contact_table .heading_row {
	padding:0;
	text-transform:uppercase;
	margin-bottom:10px;
}

.contact_table .region {
	width:16%;
	padding:0 12px;
	text-transform:uppercase;
	font-weight:bold;
}

.contact_table .contact {
	width:28%;
	padding:0 12px;
}

.contact_table .contact p, .contact_table .region p{
	margin: 0;
	padding: 0;
}

/**
 * header
 */
#header {
	margin:0;
	min-height:152px;
	background-image:url(../images/bg_header_texture.jpg);
	background-color:#e5e5e5;
	background-repeat:repeat-x;
	background-position:0 0;
	border-top:24px solid #003e69;
}

.lt-ie9 #header {
	min-height:130px !important;
}

#header #logo {
	padding:26px 0;
	z-index:302;
	float:left;
	display:inline;
	clear:none;
	position:relative;
	min-height:76px;
	width:232px;
}

#header #logo img {
	width:100%;
	max-width:100%;
	height:auto;
}

.lt-ie9 #header #logo {
	float:none;
	min-height:76px;
	clear:both;
	display:block;
	overflow:hidden;
}

#header #search_box {
	position:absolute;
	right:0;
	top:36px;
	width:290px;
}

#header #top_cta {
	position:absolute;
	right:336px;
	top:42px;
	font-size:17px;
}

#header #top_cta b {
	font-weight:700;
	font-style:normal;
}


#header .fixed_wrap {
	position:relative;
}

/**
 * nav
 */
#nav {
	position:absolute;
	color:#003e69;
	right:0;
	bottom:0;
	width:990px;
	background-color:transparent;
	background-position:0 0;
	background-image:url(../images/bg_nav.png);
	background-repeat:no-repeat;
}

.lt-ie9 #nav {
	top:85px;
}

#nav .row {
	margin:0;
}

#nav ul.primary_menu {
	margin-left:300px;
	margin-bottom:0 !important;
}

#nav ul.primary_menu li {
	padding:0 !important;
	text-align:center;
	position:relative;
}

#nav ul.primary_menu > li {
	display:block !important;
	float:left !important;
}

#nav ul.primary_menu li a {
	display:block;
	color:#134b73;
	padding:10px 0 !important;
	font-size:17px;
	float:none;
	clear:both;
	text-align:center;
	text-decoration:none;
}


#nav ul.primary_menu li.link_products_item {
	width:142px !important;
}

#nav ul.primary_menu li.link_resources_item {
	width:145px !important;
}

#nav ul.primary_menu li.link_about_item {
	width:111px !important;
}

#nav ul.primary_menu li.link_contact_item {
	width:160px !important;
}

#nav ul.primary_menu li.link_where_item {
	color:#ffffff !important;
	width:132px !important;
}

#nav ul.primary_menu li.link_where_item a {
	color:#ffffff !important;
}

#nav ul.primary_menu li ul.menu {
	padding-left:0 !important;
}

#nav ul.primary_menu li > ul.menu {
	margin-bottom:0 !important;
}

#nav ul.primary_menu li ul.menu li {
	margin:0 !important;
	list-style-type:none;
	list-style-image:none;
}

#nav ul.primary_menu li ul.menu li a {
	display:block;
	color:#134b73;
	padding:10px 0 !important;
	font-size:16px;
	float:none;
	clear:both;
	text-align:center;
	text-decoration:none;
}

#nav ul.primary_menu li ul.menu li a:active,
#nav ul.primary_menu li ul.menu li a.current,
#nav ul.primary_menu > li > ul.menu > li > a.active,
#nav ul.primary_menu > li > ul.menu > li > a:hover {
	color:#ffffff;
	background-color: #999999;
	background-image: -moz-linear-gradient(top, #c0c0c0, #7f7f7f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c0c0c0), to(#7f7f7f));
	background-image: -webkit-linear-gradient(top, #c0c0c0, #7f7f7f);
	background-image: -o-linear-gradient(top, #c0c0c0, #7f7f7f);
	background-image: linear-gradient(to bottom, #c0c0c0, #7f7f7f);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc0c0c0', endColorstr='#ff7f7f7f', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}


#nav ul.primary_menu li.link_where_item a:active,
#nav ul.primary_menu li.link_where_item a.current,
#nav ul.primary_menu li.link_where_item a.active,
#nav ul.primary_menu li.link_where_item a:hover {
	background-color:#e77b11 !important;
	background-image:none !important;
	-webkit-border-top-right-radius:8px !important;
	-moz-border-radius-topright:8px !important;
	border-top-right-radius:8px !important;
}

#nav ul.primary_menu li ul.menu li ul.menu {
	position:absolute;
	display:block;
	margin-left:0 !important;
	top:42px;
	left:0;
	width:230px;
	padding-left:0 !important;
	list-style:none;
	-moz-box-shadow: 0px 3px 8px #5e5e5e;
	-webkit-box-shadow: 0px 3px 8px #5e5e5e;
	box-shadow: 0px 3px 8px #5e5e5e;
	display:none;
	z-index:505;
}

.lt-ie9 #nav ul.primary_menu li ul.menu li ul.menu {
	border:1px solid #999999;
	border-top:none !important;
	margin-left:-1px !important;
}

#nav ul.primary_menu li ul.menu li ul.menu li a {
	text-align:left;
	background-color:#e0e0e0;
	background-image:url(../images/icon_blue_chevron_right.png);
	background-repeat:no-repeat;
	background-position:22px 50%;
	border-top:1px solid #ffffff;
	border-bottom:1px solid #969696;
	padding:7px 0 7px 36px !important;
	font-weight:normal;
}

#nav ul.primary_menu li ul.menu li ul.menu li a:hover {
	background-color:#f57f20;
	border-bottom:1px solid #f57f20;
	border-top:1px solid transparent;
	background-image:url(../images/icon_chevron_right.png);
	color:#ffffff;
}

#nav ul.primary_menu li ul.menu li ul.menu li a:active,
#nav ul.primary_menu li ul.menu li ul.menu li a.current {
	background-repeat:no-repeat;
}

#nav ul.primary_menu li ul.menu li ul.menu li.first a {
	border-top:none;
	-webkit-box-shadow: inset 0 8px 8px -8px #5e5e5e;
	-moz-box-shadow: inset 0 8px 8px -8px #5e5e5e;
	box-shadow: inset 0 8px 8px -8px #5e5e5e;
}


/**
 * footer
 */
#footer {
	background-color:#003e69;
	color:#ffffff !important;
	padding:10px 0 20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	position:relative;
}

#footer img {
	max-width:100%;
}

#footer .col {
	padding:10px;
}

#footer .col h2 {
	margin-top:0 !important;
	font-size:14px;
	text-transform:uppercase;
}

#footer .col h4 {
	margin-top:0 !important;
	font-size:14px;
	text-transform:uppercase;
	color:#ffffff;
	font-weight:normal;
	font-style:normal !important;
}

#footer .col > ul.menu > li > a {
	margin-top:0 !important;
	font-size:14px;
	text-transform:uppercase;
}

#footer .col ul {
	padding-left:0 !important;
	list-style:none;
}

#footer ul.menu li {
	margin:0;
	padding:0 !important;
	list-style-image:none !important;
	list-style-type:none !important;
}

#footer ul.menu li a {
	margin-bottom:10px !important;
	display:block !important;
	line-height:1em !important;
}

#footer ul.menu li ul li a {
	margin-bottom:0 !important;
	line-height:1.5em !important;
}

#footer .col#footer_first {
	width:15%;
}

#footer .col#footer_second {
	width:22%;
}

#footer .col#footer_third {
	width:21%;
}

#footer .col#footer_fourth {
	width:19%;
}

#footer .col#footer_fifth {
	width:23%;
	padding-right:0 !important;
}

#footer .col#footer_fifth p {
	margin-bottom:0 !important;
}

#footer .col#footer_fifth a.footer_logo {
	margin:10px 0 30px;
	background-image:url(../images/logo_footer.png);
	background-position:50% 50%;
	background-repeat:no-repeat;
	background-color:transparent;
	height:57px;
	width:178px;
	display:block;
	text-indent:-9999px;
}

#footer .col#footer_fifth a.pstc_logo {
	margin:30px 0 10px;
	background-image:url(../images/PSTC.png);
	background-position:50% 50%;
	background-repeat:no-repeat;
	background-color:transparent;
	height:57px;
	width:88px;
	display:block;
	text-indent:-9999px;
}

.share_links.pull-right{
	width:81%;
}

.view-social-icons-home.view-display-id-block ul li{
	margin: 0;
	padding: 0px 5px;
}

#footer .col#footer_fifth .share_links a {
	width:22px;
	height:22px;
	display:block;
	background-color:transparent;
	background-position:50% 50%;
	background-repeat:no-repeat;
	*text-indent:-9999px;
}

#footer .col#footer_fifth .share_links h4 {
	text-transform:uppercase;
}

#footer .col#footer_fifth .share_links a.facebook {
	background-image:url(../images/icon_facebook.png);
}

#footer .col#footer_fifth .share_links a.twitter {
	background-image:url(../images/icon_twitter.png);
}

#footer .col#footer_fifth .share_links a.linkedin {
	background-image:url(../images/icon_linkedin.png);
}

#footer .col#footer_fifth .share_links a.youtube {
	background-image:url(../images/icon_youtube.png);
}

#footer .col#footer_fifth h4 {
	margin-top:10px !important;
	font-size:12px;
	padding-left:5px;
}

#footer a {
	color:#ffffff !important;
}

#footer a:hover {
	color:#dddddd !important;
	text-decoration:none;
}


#footer #meta #links {
	margin-bottom:4px;
}

#footer #copyline {
	margin-top:30px;
	clear:both;
	overflow:hidden;
}

#footer a.scroll_top {
	background-image:url(../images/icon_scroll_top.png);
	background-repeat:no-repeat;
	background-color:transparent;
	background-position:50% 50%;
	display:block;
	display:none;
	position:fixed;
	right:20px;
	bottom:20px;
	text-indent:-9999px;
	height:64px;
	width:64px;
	z-index:3001;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

#footer a.scroll_top:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

#footer .view-id-social_icons_home.view-display-id-block_1 ul{
	position: relative;
	top:40px;
}

#footer .view-id-social_icons_home.view-display-id-block_1 ul li{
	float: right;
}


/**
 * content
 */
#content {
	min-height:500px;
	padding:0;
	padding-bottom:100px;
	background-image:url(../images/bg_texture.jpg);
	background-color:#e5e5e5;
	background-repeat:repeat;
	background-position:0 0;
}

#content a {
	color:#003e69;
	text-decoration:underline;
}

#content a:hover,
#content a:active,
#content a.current {
	color:#999999;
	text-decoration:none;
}

#content #main.fixed_wrap.white_box {
	-webkit-border-top-right-radius:0 !important;
	-webkit-border-top-left-radius:0 !important;
	-moz-border-radius-topright:0 !important;
	-moz-border-radius-topleft:0 !important;
	border-top-right-radius:0 !important;
	border-top-left-radius:0 !important;
	border-top:none;
	padding-bottom:40px;
}

/**
 * marquee / slideshow
 */
.page-blogs #marquee,
.front #marquee,
.promotions #marquee {
	width:1145px;
	margin:0 auto;
	z-index:501;
	position:relative;
}

#marquee a {
	overflow:hidden;
}

.page-blogs #marquee a,
.front #marquee a {
	display:block;
}

/**
 * subcontent
 */
#subcontent {
	z-index:502;
	position:relative;
	padding:10px;
	width:960px;
	margin:0 auto;
	margin-top:-80px;
}

#subcontent h2 {
	font-size:17px;
	padding-left:20px;
	font-weight:bold;
}

#subcontent hr {
	background-color:transparent;
	background-image:url(../images/bg_hr.png);
	background-repeat:no-repeat;
	background-position:0 0;
	display:block;
	width:860px;
	margin:20px auto;
	height:1px;
	border:none;
	clear:both;
}

#subcontent .headline {
	background-color:#003e69;
	color:#ffffff;
	padding:4px 40px;
	font-size:24px;
	margin-top:0;
	-moz-border-radius:.2em;
	-webkit-border-radius:.2em;
	border-radius:.2em;
}

/**
 * product grid - used on products index + home page touts
 */
.product_grid {
	padding-top:20px;
}

.product_grid h2 {
	text-transform:uppercase;
}

.product_grid ul {
	list-style:none;
	padding-left:0 !important;
	margin-right:-10px;
	margin-left:-10px;
}

.product_grid ul:before,
.product_grid ul:after {
	display:table;
	content:" ";
}

.product_grid ul:after {
	clear:both;
}

.product_grid ul li {
	width:33.33333333333333%;
	float:left;
	position: relative;
	min-height: 1px;
	padding-right:10px;
	padding-left:10px;
	margin-bottom:20px;
}

.product_grid ul li a.item {
	text-decoration:none;
	color:#000000 !important;
	padding:0 !important;
	display:block;
	clear:both;
	overflow:hidden;
	max-width:100%;
	width:100%;
	position:relative;
	border-right:1px solid #b4b4b4;
	border-bottom:1px solid #b4b4b4;
	-moz-box-shadow:1px 1px 4px #b4b4b4;
	-webkit-box-shadow:1px 1px 4px #b4b4b4;
	box-shadow:1px 1px 4px #b4b4b4;
}

.lt-ie9 .product_grid  ul li a.item {
	border-right:2px solid #c6c6c6;
	border-bottom:2px solid #c6c6c6;
}

.product_grid ul li a.item img {
	max-width:100%;
	width:100%;
}

.product_grid ul li a.item .item_content {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
}

.product_grid ul li a.item .item_image {
	display:block;
	overflow:hidden;
}

.product_grid ul li a.item .item_thumb {
	display:block;
	overflow:hidden;
}

.product_grid ul li a.item .item_content .item_title {
	font-size:17px;
	clear:both;
	display:block;
	line-height:18px;
	position:relative;
	padding:6px 6px 10px 30px;
	background-color:#ffffff;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
	min-height:52px;
}

.product_grid.browse_type .item {
	height:204px;
	position:relative;
}

.product_grid.browse_type .item_thumb{
	background-image:url(../images/bg_type_grid_item.png);
	background-repeat:no-repeat;
	background-color:transparent;
	background-position:0 0;
	background-size:cover;
	text-align:center;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	width:100%;
}

.product_grid.browse_type .item_thumb img {
	width:160px;
	height:auto;
	position:absolute;
	left:50%;
	margin-left:-80px;
	bottom:64px;
}

.product_grid ul li a.item .cta_arrow {
	background-color:transparent;
	background-image:url(../images/btn_cta_arrow_small.png);
	background-repeat:no-repeat;
	background-position:50% 50%;
	width:17px;
	height:17px;
	position:absolute;
	top:6px;
	left:6px;
	z-index:502;
}


/**
 * promotions page
 */
.promotions #subcontent  {
	margin-top:-56px;
	padding-bottom:100px;
}

.promotions #subcontent #prev_viewed {
	clear:both;
	overflow:hidden;
	position:relative;
	margin:0 14px;
}

.promotions #subcontent #prev_viewed h2 {
	color:#003e69;
}

.promotions #subcontent #prev_viewed .item {
	float:left;
	width:180px;
	text-decoration:none;
	display:inline-block;
	height:200px;
	margin:10px 20px;
	padding:10px;
	color:#000000 !important;
	overflow:hidden;
}

.promotions #subcontent #prev_viewed .item .item_thumb {
	clear:both;
	display:block;
	margin-bottom:24px;
	margin-top:10px;
}

.promotions #subcontent #prev_viewed .item .item_title {
	clear:both;
	display:block;
	font-size:16px;
	line-height:16px;
	font-weight:bold;
}

.promotions #subcontent #prev_viewed .item .item_desc {
	clear:both;
	display:block;
	font-size:10px;
	line-height:14px;
	font-weight:bold;
	margin-bottom:10px;
}

.promotions #subcontent #promo_body {
	padding:20px 30px 20px 40px;
}

.promotions #subcontent #promo_body h3 {
	font-weight:bold;
	font-size:18px;
	margin-bottom:16px;
	margin-top:0;
}

.promotions #subcontent #promo_body h3 a {
	text-decoration:none !important;
}

.promotions #subcontent #promo_body h4 {
	font-weight:bold;
	font-size:24px;
	color:#003e69 !important;
	margin-top:30px;
	margin-bottom:16px;
}

.promotions #subcontent #promo_body #promo_form {
	position:relative;
}

.promotions #subcontent #promo_form .form_wrapper {
	width:670px;
	padding:0;
}

.promotions #subcontent #promo_form .form_wrapper .row {
	margin-right:0;
}

.promotions #subcontent #promo_form .form_wrapper .form-group {
	padding-right:0;
}

.promotions #subcontent #promo_form .button_bar {
	margin-top:16px;
}

.promotions #subcontent #promo_form .btn.btn-wide {
	padding-left:5em;
	padding-right:5em;
}


.promotions #subcontent #promo_form .detail_badge {
	position:absolute;
	right:0;
	top:-8px;
}


/**
 * about page
 */
.arrow_box_wrap {
	position:relative;
}

.blue_arrow_box {
	position:absolute;
	background-color:#013f6a;
	color:#ffffff;
	-webkit-border-top-right-radius:3px !important;
	-webkit-border-bottom-right-radius:3px !important;
	-moz-border-radius-topright:3px !important;
	-moz-border-radius-bottomright:3px !important;
	border-top-right-radius:3px !important;
	border-bottom-right-radius:3px !important;
	padding:20px 30px;
	padding-left:90px;
	font-size:20px;
	width:400px;
	top:70px;
	left:-60px;
	font-weight:500;
}

.blue_arrow_box .pointer {
	width:0;
	height:0;
	border-style:solid;
	border-color:transparent transparent transparent #013f6a;
	position:absolute;
	top:0;
	border-width: 62px 0 62px 42px;
	right:-41px;
}

.blue_arrow_box:hover {
	background-color:#013f6a; /* change this to have a hover state */
}

.blue_arrow_box:hover .pointer {
	border-color:transparent transparent transparent #013f6a; /* change this to have a hover state - same color as above */
}

.lt-ie9 .node-type-page .blue_arrow_box .pointer {
	border-width: 63px 0 63px 42px !important;
	right:-42px !important;
}

.node-type-page .video {
	margin-right:34px;
}

.node-type-page #content p {
	text-align:justify;
}

.node-type-page #content .marquee_image {
	display:block;
	clear:both;
	overflow:hidden;
	margin-bottom:20px;
}

.page-node-1 .blue_bar {
	margin-bottom:20px !important;
}


/**
 * contact page
 */
.node-type-webform #content #left {
	width:360px;
}

.node-type-webform #content #right {
	width:460px;
	margin-right:50px;
	padding-top:20px;
}

.node-type-webform #content #right h2 {
	color:#003e69;
	font-size:24px;
	font-weight:bold;
}

.node-type-webform #content #right p {
	text-align:justify;
}

.node-type-webform #content #right h2 .required {
	color:#666666;
	font-size:12px;
	text-align:right;
	float:right;
	line-height:24px;
	padding-top:4px;
}

.node-type-webform #content #right .form-inline .field_group.first {
	width:130px;
	margin-right:6px;
}

.node-type-webform #content #right .form-inline .field_group.middle {
	width:100px;
	margin-right:6px;
}

.node-type-webform #content #right .form-inline .field_group.last {
	width:90px;
}

.node-type-webform #content #right .form_wrapper {
	padding:0 !important;
	width:340px;
}

/* placeholders (inline labels) - these MUST STAY SEPARATE - do not combine */
.node-type-webform .placeholder {
	font-size:16px;
	line-height:20px;
}

.node-type-webform ::-webkit-input-placeholder { /* WebKit browsers */
	font-size:16px;
	line-height:20px;
}

.node-type-webform :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	font-size:16px;
	line-height:20px;
}

.node-type-webform ::-moz-placeholder { /* Mozilla Firefox 19+ */
	font-size:16px;
	line-height:20px;
}

.node-type-webform :-ms-input-placeholder { /* Internet Explorer 10+ */
	font-size:16px;
	line-height:20px;
}

/**
 * news / events detail page
 */
.node-type-article #content .news_detail_wrap {
	padding:0 30px 50px;
	display:block;
	clear:both;
	overflow:hidden;
}

.node-type-article #content h2.news_detail_title {
	color:#003e69;
	font-size:22px;
	font-weight:bold;
	margin-top:10px !important;
}

.node-type-article #content h3.news_detail_subtitle {
	color:#333333;
	font-size:20px;
	font-style:italic;
	font-weight:400;
	margin-top:10px !important;
}

.node-type-article #content .news_detail_content {
	clear:both;
	overflow:hidden;
	display:block;
	float:none;
	margin-top:30px;
}

.node-type-article #content .news_detail_photo {
	margin-right:10px;
	padding-top:10px;
	width:300px;
}

.node-type-article #content .news_detail_photo img,
.node-type-event #content .news_detail_photo img {
	max-width:100%;
	margin-bottom: 25px;
}

.node-type-article #content .news_detail_body,
.node-type-event #content .news_detail_body {
	width:500px;
	text-align:justify;
}

.node-type-article #content .news_detail_wrap h3,
.node-type-event #content .news_detail_wrap h3 {
	font-size:1em;
	font-weight:normal;
}

.node-type-article #content .news_detail_wrap .smaller,
.node-type-event #content .news_detail_wrap .smaller {
	font-size:0.9em;
}


/**
 * careers page iframe styles
 */
.page-node-428 iframe {
	overflow:hidden;
	clear:both;
	display:block;
	margin:0 auto;
	width:680px;
	height: 1000px;
}


/**
 * industry links page
 */
.page-resources-industry-links .blue_bar h3 {
	font-size:14px;
	line-height:32px;
	padding:0;
	margin:0;
	text-transform:uppercase;
}

.page-resources-industry-links .field-content p {
	margin:0 !important;
}

/**
 * news & events index
 */
.node-type-page h2 {
	font-size:14px;
	line-height:32px;
	padding:0;
	margin:0;
	text-transform:uppercase;
	color: #ffffff;
	background-color: #003e69;
	min-height:32px;
	line-height:32px;
	overflow:hidden;
	clear:both;
	display:block;
	float:none;
	margin:10px 0 20px;
	padding:0 12px;
}

.node-type-page .field-content p {
	margin:0 !important;
}

.node-type-page ul.link_list li {
	font-weight:500;
}

.node-type-page ul.link_list li .link_desc {
	font-style:italic;
}

.node-type-page .more_link_wrap {
	clear:both;
	overflow:hidden;
}

.node-type-page .more_link_wrap a.more_news_link {
	text-decoration:none !important;
	color:#000000 !important;
	font-weight:700;
	padding-left:22px;
	background-image:url(../images/btn_filter_arrow.png);
	background-repeat:no-repeat;
	background-position:0 50%;
	background-color:transparent;
	display:inline-block;
	width:200px;
	text-align:left;
	height:40px;
	line-height:40px;
	margin-top:10px;
}

.node-type-page ul.event_list li {
	margin-bottom:20px;
	overflow:hidden;
	clear:both;
	display:block;
}

.node-type-page ul.event_list li a {
	text-decoration:none !important;
}

.node-type-page ul.event_list li a:hover {
	text-decoration:none !important;
}

.node-type-page ul.event_list li .views-field {
	display:inline-block;
	float:left;
	width:600px;
}

.node-type-page ul.event_list li .views-field.views-field-field-event-image {
	display:inline-block;
	float:left;
	max-width:150px;
	margin-right:30px;
}

.node-type-page ul.event_list li .views-field.views-field-field-event-image img {
	max-width:100%;
	width:150px;
	height:auto;
}

.node-type-page ul.event_list li .views-field.views-field-title {
	color:#003e69;
	font-size:22px;
	font-weight:bold;
	margin-top:16px !important;
}

.node-type-page ul.event_list li .views-field.views-field-field-booth {
	font-weight:bold;
}

/**
 * static pages
 */
.node-type-page h3 {
	color:#003e69;
	font-size:22px;
	font-weight:bold;
}

.node-type-page h4 {
	color:#333333;
	font-size:16px;
	font-weight:bold;
	font-style:italic;
}

.node-type-page .blue_bar {
	margin-bottom:30px;
}

.node-type-page ul,
.node-type-page ol {
	margin-bottom:30px;
}

.node-type-page .view-media-contact {
	margin-top:-20px;
}

.node-type-page .view-media-contact ul {
	list-style-type:none;
}

.node-type-page .news_section .news-date {
	font-style:italic;
}

/**
 * where to buy page
 */
.page-about-where-to-buy .views-exposed-form .views-exposed-widget .form-submit {
	margin-top:0 !important;
}

.page-about-where-to-buy #content h2 {
	font-size:18px;
	font-weight:bold;
}

.page-about-where-to-buy #content hr {
	margin-top:0 !important;
}

.page-about-where-to-buy #content #main {
	min-height:600px;
}

.page-about-where-to-buy #content h2 {
	border-bottom:1px solid #cccccc !important;
	padding-bottom:10px !important;
	margin-bottom:10px !important;
}


.page-about-where-to-buy #content input[type="submit"] {
	position: relative;
	text-decoration: none !important;
	border: 1px solid transparent;
	padding:5px 2em;
	-moz-border-radius:.4em;
	-webkit-border-radius:.4em;
	border-radius:.4em;
	text-shadow:none;
	font-weight:normal;
	color: #ffffff !important;
	background-color:#ee8925;
	background-image:-moz-linear-gradient(top, #feaa55, #e27203);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#feaa55), to(#e27203));
	background-image:-webkit-linear-gradient(top, #feaa55, #e27203);
	background-image:-o-linear-gradient(top, #feaa55, #e27203);
	background-image:linear-gradient(to bottom, #feaa55, #e27203);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffeaa55', endColorstr='#ffe27203', GradientType=0);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
	text-shadow:1px 1px 0 rgba(0, 0, 0, 0.6);
	line-height: 1.5;
}

.page-about-where-to-buy #content .form_wrap {
	padding-bottom:60px;
}

.page-about-where-to-buy #content .form_wrap .btn {
	padding-left:2em;
	padding-right:2em;
}

.page-about-where-to-buy #content .form_wrap .pull-left {
	width:520px;
}

.page-about-where-to-buy #content .form_wrap .pull-right {
	width:280px;
}

.page-about-where-to-buy #content .form_wrap .first {
	width:200px;
	margin-right:10px;
}

.page-about-where-to-buy #content .form_wrap .second {
	width:190px;
	margin-right:10px;
}

.page-about-where-to-buy #content .form_wrap .or_separator {
	font-weight:bold;
	font-size:16px;
	display:inline-block;
	margin-left:190px;
	color:#666666;
	margin-bottom:16px;
}

.page-about-where-to-buy #content .form_wrap .pull-right .first {
	width:170px;
}

.page-about-where-to-buy #content .results_section {
	padding-bottom:40px;
}

.page-about-where-to-buy #content .results_section h2 {
	color:#003e69;
	font-size:22px;
	font-weight:bold;
	border-bottom:1px solid #cccccc;
	margin-bottom:20px;
	padding-bottom:10px;
}

.page-about-where-to-buy #content .results_section .results_grid .item {
	padding-bottom:20px;
	height:150px;
	border-right: 1px solid #CCCCCC;
	overflow:hidden;
}

.page-about-where-to-buy #content .results_section .results_grid .item .views-field-title-field {
	font-size:16px;
	line-height:1.4em;
	font-weight:bold;
	margin-bottom:0 !important;

}

.page-about-where-to-buy #content .results_section .results_grid .item a {
	color:#f57e20;
	text-decoration:none;
	font-weight:bold;
}

.page-about-where-to-buy #content .results_section .results_grid .item.last {
	border-right: 0px;
}

/**
 * locations page (.locations is a div class, not a body class)
 */
.locations .field-name-body {
	padding: 0;
}


.locations h2 {
	font-size:16px;
	margin:0;
	padding:0;
	background-color:transparent;
	color:#333333;
	font-weight:bold;
	text-transform:none;
}

.locations h3 {
	font-size:16px;
	margin:0;
	padding:0;
}

.locations h4 {
	font-size:12px;
	line-height:1.4em;
	margin:0;
	padding:0;
	font-weight:bold;
}

.locations .blue_bar {
	padding:0 8px;
	margin-top:0 !important;
	margin-bottom:20px !important;
}

.locations .blue_bar h3 {
	line-height:32px;
	font-size:11px;
	display:inline-block;
	color:#ffffff !important;
	text-transform: uppercase;
}

.locations .mobile_pad p{
	margin: 0;
	padding: 0;
}

.locations .map {
	margin-bottom:30px;
}

.locations .offices {
	margin:0;
	margin-bottom:40px;
	padding:0 8px;
	font-size:12px;
	clear:both;
	overflow:hidden;
	font-family:Arial, Helvetica, sans-serif !important;
}

.locations .offices h4 {
	font-style:normal !important;
	color:#000000 !important;
}



/**
 * NOTE:
 * - below are the widths typically handled by bootstrap
 * - respond.min.js and the html5 shim ARE working, but for some reason IE8 is recognizing the screen width to be XS, so this is a quicker fix
 */
.locations .item,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
	float:left;
	display:inline;
	clear:none;
}

.col-md-3 {
	width:25%;
}

.col-md-6 {
	width:50%;
}

.col-md-9 {
	width:75%;
}


/**
 * media page (.media_page is a div class - not a body class)
 */
.page-node-855 .blue_bar {
	margin-bottom:6px !important;
}

.media_page .headline {
	margin-bottom:10px !important;
}

.media_page {
	clear:both;
	overflow:hidden;
	display:block;
}

.media_page .blue_bar {
	margin:5px 0 0 !important;
	padding-left:20px;
}

.media_page .blue_bar.subhead {
	margin-top:16px !important;
}

.media_page .blue_bar h3 {
	font-size:14px !important;
	color:#ffffff;
	line-height:32px;
	margin:0 !important;
	font-weight:400 !important;
}

.media_page .blue_bar.for_access {
	font-weight:bold;
	font-size:13px;
}

.media_page .blue_bar.for_access a {
	color:#ffffff !important;
	text-decoration:none !important;
}

.media_page #marquee {
	background-color:#f57e20;
	color:#ffffff;
	margin-bottom:6px;
	margin-top:-15px;
}

.media_page #marquee .marquee_content {
	width:354px;
	padding:30px 0 10px 20px;
	font-size:14px;
}

.media_page #marquee .marquee_content .highlight {
	text-transform:uppercase;
	font-weight:bold;
}


.media_page #marquee .marquee_image {
	width:540px;
	text-align:right;
	clear:none !important;
	margin-bottom:0 !important;
}

.media_page #marquee ul.link_list {
	list-style:none;
	padding-left:17px;
	margin-top:20px;
	margin-bottom:14px;
}

.media_page #marquee ul.link_list li {
	margin-bottom:0 !important;
	list-style-image:url(../images/icon_chevron_right.png);
}

.media_page #marquee ul.link_list li.additional {
	margin-bottom:0 !important;
	list-style-image:none;
	text-transform:uppercase;
	font-weight:bold;
	margin-left:-16px;
	margin-bottom:4px !important;
}

.media_page #marquee ul.link_list li a {
	text-decoration:none;
	color:#ffffff;
	text-transform:uppercase;
	font-weight:bold;
}

.media_page .gray_bar {
	padding:5px 0;
	background-color:#e4e4e4;
	padding:12px;
	font-style:italic;
}

.media_page .gray_bar .indicates {
	width:280px;
	line-height:40px;
	margin-left:5px;
}

.media_page .gray_bar .adobe {
	width:580px;
}

.media_page .gray_bar .adobe img {
	padding-left:10px;
}


/*******/
.media_page #brand_assets {
	margin:0;
	padding:20px;
	border:1px solid #9a9a9a;
	display:block;
	position:relative;
	padding-bottom:0 !important;
}

.media_page #brand_assets h3 {
	font-weight:bold;
	font-size:14px;
	margin-top:0 !important;
	color:#003c69;
	text-transform:uppercase;
}

.media_page #brand_assets ul {
	overflow:hidden;
	display:block;
	clear:both;
	padding-left:160px;
}

.media_page #brand_assets ul li {
	display:inline-block;
	float:left;
	overflow:hidden;
	width:50%;
	margin-bottom:30px;
        height: 98px;
}

.media_page #brand_assets ul li .thumb {
	display:table-cell;
	vertical-align:middle;
	padding-right:10px;
}

.media_page #brand_assets ul li .content {
	display:table-cell;
	vertical-align:middle;
}


.media_page #brand_assets ul li .content .title {
	clear:both;
	text-decoration:none;
	color:#000000;
	font-weight:bold;
}

.media_page #brand_assets ul li .content .link {
	clear:both;
	display:block;
}

.media_page #brand_assets ul li .content .link .sub_left {
	clear:left;
	float:left;
	margin-right:4px;
	width:72px;
	overflow:hidden;
	display:inline-block;
	color:#003c69;
	font-weight:bold;
}

.media_page #brand_assets ul li .content .link .sub_right {
	clear:none;
	float:left;
	overflow:hidden;
	display:inline-block;
}

.view-media-library #accordian {
	min-height:800px;
}

.view-media-library #accordian h3 {
	margin:0 !important;
}

.view-media-library #accordian h3 a {
	text-decoration:none;
	display:block;
	font-weight:bold;
	font-size:16px;
	line-height:40px;
	color:#003e69 !important;
	padding-left:60px;
	/* outline:none !important; */
	background-image:url(../images/control_accordian_expand.png);
	background-repeat:no-repeat;
	background-position:19px 50%;
	background-color:#e4e4e4;
}

.view-media-library #accordian h3 a:hover {
	text-decoration:none;
	color:#003e69 !important;
}

.view-media-library #accordian .group {
	border:1px solid #9a9a9a;
	margin:16px 0;
}

.view-media-library #accordian .group .box {
	border-top:1px solid #9a9a9a;
}

.view-media-library #accordian .group.open h3 a {
	background-color:#003e69;
	background-image:url(../images/control_accordian_collapse2.png);
	background-position:20px 49%;
	color:#ffffff !important;
}

.view-media-library #accordian .group .box ul {
	font-style:normal;
	padding-left:100px;
	overflow:hidden;
}

.view-media-library #accordian .group .box ul li {
	float:left;
	width:50%;
	margin:0;
	padding:20px;
	display:inline-block;
}

.view-media-library #accordian .group .box ul li .field-content {
	display:table;
	width:100%;
	clear:both;
}

.view-media-library #accordian .group .box ul li .field-content .thumb {
	width:20%;
	overflow:hidden;
	display:table-cell;
	vertical-align:middle;
	padding-right:16px;
	height:72px;
}

.view-media-library #accordian .group .box ul li .field-content .title {
	width:80%;
	overflow:hidden;
	display:table-cell;
	vertical-align:middle;
}

.view-media-library #accordian .group .box ul li .field-content .title a {
	color:#003e69 !important;
}

.view-media-library #accordian .group .box ul li .library-link-separator{
	margin:0 2px;
}

.view-media-library .media-video-title {
	float: right;
}

.view-media-library .video-field-content {
	list-style:none;
	display:inline-block;
	padding:0;
	margin-right:10px;
	width:auto;
	height:180px;
	overflow:hidden;
	position: relative;
}

.view-media-library .video-field-content a.video_thumb {
	display:block;
	padding:0;
	overflow:hidden;
	text-decoration:none;
	position:relative;
}

.view-media-library .video-field-content  a .play_overlay {
	position:absolute;
	background-image:url(../images/control_play_button.png);
	background-repeat:no-repeat;
	background-color:transparent;
	background-position:50% 50%;
	width:160px;
	display:block;
	height:120px;
	top:0;
	left:0;
	z-index:501;
}

.view-media-library .video-field-content  a .vid_title {
	display:block;
	clear:both;
	color:#003e69 !important;
	font-weight:bold;
	margin-top:4px;
}

/**
 * green point products page
 */
.view-greenpoint-products {
	margin:30px 70px;
}

.view-greenpoint-products ul {
	overflow:hidden;
	display:block;
	clear:both;
	margin:0 -10px;
}

.view-greenpoint-products ul li {
	display:inline-block;
	float:left;
	overflow:hidden;
	width:50%;
	margin:0;
	padding:10px;
	height:110px;
	margin-bottom:10px;
	cursor:pointer;
}

.view-greenpoint-products ul li .field-content {
	overflow:hidden;
}

.view-greenpoint-products ul li .views-field-title {
	display:inline-block;
	float:right;
	width:64%;
	margin-left:1%;
}

.view-greenpoint-products ul li .views-field-title a {
	color:#000000;
	font-weight:bold;
	text-decoration:none !important;
}

.view-greenpoint-products ul li .views-field-field-product-short-description {
	display:inline-block;
	float:right;
	width:64%;
	margin-left:1%;
}

.view-greenpoint-products ul li .views-field-field-product-short-description p {
	text-align:left !important;
}

.view-greenpoint-products ul li .views-field-field-product-image {
	display:inline-block;
	float:left;
	width:32%;
	margin-right:1%;
}

.view-greenpoint-products ul li .views-field-field-product-image img {
	max-width:100%;
	width:100%;
	height:auto;
}

/**
 * product index (list of products with PDF)
 */
#block-views-product-index-block table td p {
	margin: 0;
}
#block-views-product-index-block table tr .view-product-assets {
	height:40px;
}
#block-views-product-index-block table tr .view-product-assets a {
	margin-left: 30px;
}

#block-views-product-index-block {
	margin:20px;
}

#block-views-product-index-block table th {
	text-align:left;
	vertical-align:middle;
	padding:8px 12px;
}

#block-views-product-index-block table th a {
	text-decoration:none !important;
}

#block-views-product-index-block table th a img {
	margin-top:-2px;
	margin-left:3px;
}

#block-views-product-index-block table th.views-field-title {
	width:18%;
}

#block-views-product-index-block table th.views-field-field-file-asset {
	width:12%;
	text-align:center;
}

#block-views-product-index-block table td {
	text-align:left;
	vertical-align:middle;
	padding:6px 12px;
}
#block-views-product-index-block table td.views-field-title a {
	text-decoration:none !important;
	font-weight:bold;
}

#block-views-product-index-block table td.views-field-field-file-asset {
	text-align:center;
}

/*********************/
#block-views-product-index-block .product_index_heading {
	display:table;
	width:100%;
	border-bottom:2px solid #cccccc;
}

#block-views-product-index-block .product_index_heading .col {
	display:table-cell;
	padding:8px 12px;
	margin:0;
	vertical-align:middle;
	font-weight:bold;
}

#block-views-product-index-block .product_index_heading .col.product_name,
#block-views-product-index-block .views-row .views-field.views-field-title {
	width:18%;
}

#block-views-product-index-block .product_index_heading .col.product_description,
#block-views-product-index-block .views-row .views-field.views-field-field-product-short-description {
	width:70%;
}

#block-views-product-index-block .product_index_heading .col.tech_sheet,
#block-views-product-index-block .views-row .views-field.views-field-nid {
	width:12%;
}

#block-views-product-index-block .views-row {
	display:table;
	width:100%;
	overflow:hidden;
	background-color:#eee;
	border-bottom:1px solid #cccccc;
	min-height:40px;
}

#block-views-product-index-block .views-row .views-field.views-field-nid .views-row {
	border-bottom:none !important;
	text-align:right;
}

#block-views-product-index-block .views-row .views-field {
	display:table-cell;
	padding:6px 12px;
	margin:0;
	vertical-align:middle;
}

#block-views-product-index-block .views-row .views-field.views-field-title a {
	text-decoration:none;
	font-weight:bold;
}

#block-views-product-index-block .views-row .views-label {
	display:none;
}

/**
 * fixes for modal scrollbar problem in Mac
 */
.modal-open {
	overflow: auto !important;
}

.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
	margin-right: 0 !important;
}

.modal {
	overflow-y:auto !important;
}

/**
 * video modal
 */
#video_modal .modal-dialog {
	width:660px !important;
	padding-top:40px !important;
}

#video_modal .modal-content {
	background-color:#000000;
	width:640px;
	height:420px;
	border:2px solid #333333;
}

#video_modal .modal-content .modal-header {
	border:none;
	position:relative;
	z-index:506;
	min-height:0 !important;
	height:14px;
	padding:0 !important;
}

#video_modal .modal-content .modal-header .close {
	position:absolute;
	right:-38px;
	top:-32px;
	background-color:transparent;
	background-image:url(../images/control_modal_close.png);
	background-repeat:no-repeat;
	background-position:50% 50%;
	display:block;
	overflow:hidden;
	width:80px;
	height:80px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
	filter: alpha(opacity=100) !important;
	-moz-opacity:1 !important;
	-khtml-opacity:1 !important;
	opacity:1 !important;
}

#video_modal .modal-content .modal-body {
	padding:10px !important;
	position:relative;
	clear:both;
	overflow:hidden;
	margin:0 auto;
	text-align:center;
	width:640px;
	height:370px;
}

/**
 * user pages (login / forgot password, etc.)
 */
.page-user h1.headline {
	border-bottom:32px solid #003e69;
	padding-bottom:10px;
	margin-bottom:20px;
}

.page-user .content {
	padding:0 30px 20px;
}

.page-user .content .form-item {
	width:50%;
}

.page-user .password-strength {
  float: none;
  margin-bottom: 15px;
}

.page-user input[type="submit"] {
	position: relative;
	text-decoration: none !important;
	border: 1px solid transparent;
	padding:5px 2em;
	-moz-border-radius:.4em;
	-webkit-border-radius:.4em;
	border-radius:.4em;
	text-shadow:none;
	font-weight:normal;
	color: #ffffff !important;
	background-color:#ee8925;
	background-image:-moz-linear-gradient(top, #feaa55, #e27203);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#feaa55), to(#e27203));
	background-image:-webkit-linear-gradient(top, #feaa55, #e27203);
	background-image:-o-linear-gradient(top, #feaa55, #e27203);
	background-image:linear-gradient(to bottom, #feaa55, #e27203);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffeaa55', endColorstr='#ffe27203', GradientType=0);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
	text-shadow:1px 1px 0 rgba(0, 0, 0, 0.6);
	line-height: 1.5;
}

/**
 * media library videos
 */
.node-type-media-library-video #content #main.fixed_wrap.white_box {
	padding-bottom:5em;
}

.node-type-media-library-video .content_wrapper #media_box {
	width:65%;
	float:left;
	display:block;
	overflow:hidden;
	padding:0 0 0 2em;
}

.node-type-media-library-video .content_wrapper #media_box  iframe {
	width:100%;
}

.node-type-media-library-video .content_wrapper #details_box {
	width:35%;
	float:right;
	display:block;
	overflow:hidden;
	padding:0;
}

.node-type-media-library-video .content_wrapper #details_box .social-share-container {
	font-weight: bold;
	margin-bottom: 15px;
}

.node-type-media-library-video .content_wrapper #details_box .asset-title {
	margin-top:0px;
	font-weight:bold;
	font-size:18px;
	margin-bottom:25px;
}

/**
 * media library infographic
 */
.node-type-media-asset-infographic #content #main.fixed_wrap.white_box {
	padding-bottom:5em;
}

.node-type-media-asset-infographic .content_wrapper #media_box {
	width:65%;
	float:left;
	display:block;
	overflow:hidden;
	padding:0 0 0 2em;
}

.node-type-media-asset-infographic .content_wrapper #media_box img {
	width:100%;
	max-width:100%;
	height:auto;
}

.node-type-media-asset-infographic .content_wrapper #details_box {
	width:35%;
	float:right;
	display:block;
	overflow:hidden;
	padding:0;
}

.node-type-media-asset-infographic .content_wrapper #details_box .social-share-container {
	font-weight: bold;
	margin-bottom: 15px;
}

.node-type-media-asset-infographic .content_wrapper #details_box .asset-title {
	margin-bottom:0px;
	margin-top:0px;
	font-weight:bold;
	font-size:18px;
}

.node-type-media-asset-infographic .download_link {
	margin-bottom:15px;
}

.node-type-media-asset-infographic .download_link a {
	font-weight: bold;
	font-size: 14px;
}

.node-type-media-asset-infographic .asset-embed p{
	color: grey;
	border: 1px;
	border-style: solid;
	word-wrap:break-word;
	padding:10px;
}

/**
 * media library asset
 */
.node-type-media-library-asset #content #main.fixed_wrap.white_box {
	padding-bottom:5em;
}

.node-type-media-library-asset .content_wrapper #media_box {
	width:17%;
	float:left;
	display:block;
	overflow:hidden;
	padding:0 0 0 2em;
}

.node-type-media-library-asset .content_wrapper #media_box img {
	width:100%;
	max-width:100%;
	height:auto;
}

.node-type-media-library-asset .content_wrapper #details_box {
	width:83%;
	float:right;
	display:block;
	overflow:hidden;
	padding:0 2em;
}

.node-type-media-library-asset .content_wrapper #details_box .social-share-container {
	font-weight:bold;
	margin-bottom:0;
}

.node-type-media-library-asset .asset-title {
	margin-bottom: 0px;
	margin-top: 0px;
	font-weight: bold;
	font-size: 18px;
	width:515px;
	float:left;
}

.node-type-media-library-asset .download_link {
	margin-bottom: 15px;
}

.node-type-media-library-asset .download_link a {
	font-weight: bold;
	font-size: 14px;
}

.node-type-media-library-asset .padded_body a img {
	max-width: 120px;
}

.view-distributors table {
	width: 100%;
}

#content .view-distributors table thead a {
	color: #fff;
	text-decoration: none;
}
.view-distributors .views-exposed-widget .form-submit {
	margin-top: 25px;
}
.node-type-media-library-asset .asset-embed p {
	color: grey;
	border: 1px;
	border-style: solid;
	width: 400px;
	padding: 10px;
	word-wrap:break-word;
}

.link_where_item .ajax-progress {
  display: none;
}

/**
 * PRINTMAIL
 */
.page-printmail div.form-item input,.page-printmail div.form-item textarea {
	width: 400px;
}

/**
 * responsiveness
 */
/* sm devices (tablets) */
@media (min-width: 768px) and (max-width: 991px) {

}

/* xs devices (phones) */
@media (max-width: 767px) {

}

/* xs devices (phones) */
@media (max-width: 500px) {

}
