/**
 * promotion page
 */
.node-type-promotion-page .promotion_product_header {
	font-size:20px;
	font-family:"franklin-gothic-urw",sans-serif;
	font-weight:bold;
	padding-left:1em !important;
	padding-right:1em !important;
	margin-top:0 !important;
}


.node-type-promotion-page #marquee {
	width:1145px;
	margin:0 auto;
	z-index:501;
	position:relative;
	padding-top:1em;
}

.node-type-promotion-page #content #main.fixed_wrap.white_box {
	position:relative;
	margin-top:-66px;
	z-index:502;
	padding:10px;
	-webkit-border-top-right-radius:0.4em !important;
	-webkit-border-top-left-radius:0.4em !important;
	-moz-border-radius-topright:0.4em !important;
	-moz-border-radius-topleft:0.4em !important;
	border-top-right-radius:0.4em !important;
	border-top-left-radius:0.4em !important;
}

.node-type-promotion-page .link_promo {
	text-decoration:none !important;
}

.node-type-promotion-page .promo_browse_portfolio {
	font-size:1em;
	font-weight:bold;
	font-family:"franklin-gothic-urw",sans-serif;
}
.node-type-promotion-page p.promo_thank-you-interest{
	font-family:"franklin-gothic-urw",sans-serif;
	font-weight:bold;   
	margin-top:1em;
	font-size:1.2em;
}

/**
 * product list (4 items on top of promotion form)
 */
.node-type-promotion-page ul.product_list {
	list-style-type:none;
	width:100%;
	margin:0;
	padding:0 1em;
	clear:both;
	overflow:hidden;
}

.node-type-promotion-page ul.product_list li.item {
	float:left;
	width:25%;
	text-decoration:none;
	display:inline-block;
	min-height:210px;
	margin:0;
	padding:2em;
	color:#000000 !important;
}

.node-type-promotion-page ul.product_list li.item a {
	display:block;
	overflow:hidden;
}

.node-type-promotion-page ul.product_list li.item .item_thumb {
	clear:both;
	display:block;
	margin-bottom:2em;
}

.node-type-promotion-page ul.product_list li.item .item_thumb img {
	width:100%;
	max-width:100%;
	height:auto;
}

.node-type-promotion-page ul.product_list li.item .item_title {
	clear:both;
	display:block;
	font-size:1em;
	line-height:1em;
	font-weight:bold;
	margin-bottom:3px;
	overflow:hidden;
}

.node-type-promotion-page ul.product_list li.item .item_title a {
	color:#000000 !important;
	text-decoration:none !important;
	
}

.node-type-promotion-page ul.product_list li.item .item_desc {
	clear:both;
	display:block;
	font-size:0.8em;
	line-height:1.2em;
	font-weight:bold;
	margin-bottom:10px;
}


/**
 * promotions form
 */
.node-type-promotion-page .promotion_form {
	position:relative;
	padding:10px 30px;
}

.node-type-promotion-page .promotion_form .logo_box {
	position:absolute;
	right:0;
	top:32px;
	display:block;
	width:140px;
}

.node-type-promotion-page .promotion_form .form_title {
	color: #003E69;
	font-size:24px;
	font-family:"franklin-gothic-urw",sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}

.node-type-promotion-page .promotion_form .form_box {
	width:80%;
	padding-bottom:3em;
}

.node-type-promotion-page #content #edit-actions .form-submit {
	position: relative;
	font-weight: bold;
	text-decoration: none !important;
	background-repeat: repeat-x;
	border: 1px solid #cccccc;
	color: #ffffff !important;
	background-color: #ee8925;
	background-image: -moz-linear-gradient(top, #feaa55, #e27203);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#feaa55), to(#e27203));
	background-image: -webkit-linear-gradient(top, #feaa55, #e27203);
	background-image: -o-linear-gradient(top, #feaa55, #e27203);
	background-image: linear-gradient(to bottom, #feaa55, #e27203);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffeaa55', endColorstr='#ffe27203', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-moz-border-radius: 2em;
	-webkit-border-radius: 2em;
	border-radius: 2em;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
	border-color: transparent !important;
	padding: 10px 3em;
	font-size: 18px;
	line-height: 1.33;
	/* outline: none; */
}

/**
 * thank you page
 */
.page-promotion-thank-you .headline {
	margin-top:0 !important;
}

.page-promotion-thank-you .row.header_img {
	margin:0 !important;
	text-align:center;
}

.page-promotion-thank-you .promotion_product_header {
	padding-top:0 !important;
	padding-bottom:0 !important;
	font-size:1.3em;
	margin-top:0 !important;
}