/**
 * slideshow CSS for custom slideshow (non-plugin)
 */
.slideshow {
	position:relative;
	clear:both;
	min-height:461px;
}

.slideshow img {
	background: transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */   
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);   /* IE6 & 7 */      
	zoom:1;
	width:1145px;
	height:461px;
	display:block;
}

.slideshow .slides {
	width:1145px;
	height:461px;
	overflow:hidden;
}

.slideshow .slide {
	display:none;
}

.slideshow .slide.current {
	display:block;
}

.slideshow .controls {
	position:absolute;
	top:340px;
	left:930px;
	z-index: 999;
}

.slideshow .controls a {
	background-color:transparent;
	background-image:url(../images/btn_slidenav.png);
	background-repeat:no-repeat;
	background-position:50% 50%;
	width:20px;
	height:20px;
	float:left;
	margin:0 2px;
	display:inline-block;
	font-size: 0px;
}

.slideshow .controls a.activeSlide {
	background-image:url(../images/btn_slidenav_active.png);
}