.node-type-webform #content #webform-component-city {
	display:inline-block;
	width:130px;
	margin-right:6px;
	display:inline-block;
	margin-bottom:0;
	vertical-align:middle;
	margin-top:0;
}

.node-type-webform #content #webform-component-states {
	display:inline-block;
	width:100px;
	margin-right:6px;
	display:inline-block;
	margin-bottom:0;
	vertical-align:middle;
	margin-top:0;
}

.node-type-webform #content #webform-component-zip {
	display:inline-block;
	width:90px;
	display:inline-block;
	margin-bottom:0;
	vertical-align:middle;
	margin-top:0;
}

.node-type-webform #content #edit-actions .form-submit,
.webform_promotion_container #edit-actions .form-submit{
	position:relative;
	font-weight:bold;
	text-decoration:none !important;
	background-repeat:repeat-x;
	border:1px solid #cccccc;
	color:#ffffff !important;
	background-color:#ee8925;
	background-image:-moz-linear-gradient(top, #feaa55, #e27203);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#feaa55), to(#e27203));
	background-image:-webkit-linear-gradient(top, #feaa55, #e27203);
	background-image:-o-linear-gradient(top, #feaa55, #e27203);
	background-image:linear-gradient(to bottom, #feaa55, #e27203);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffeaa55', endColorstr='#ffe27203', GradientType=0);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-moz-border-radius:2em;
	-webkit-border-radius:2em;
	border-radius:2em;
	text-shadow:1px 1px 0 rgba(0, 0, 0, 0.6);
	border-color:transparent !important;
	padding:10px 3em;
	font-size:18px;
	line-height:1.33;
	outline:none;
}

.webform_promotion_container input,.webform_promotion_container select{
    font-size: 18px;
}

.webform_promotion_container .row{
    margin-bottom: -5px;
}

.webform_promotion_container .webform-component-markup,
.webform_promotion_container .webform-component-markup p{
    margin: 0;
    text-indent: 9px;
}