
.views_slideshow_cycle_no_display,
.views_slideshow_cycle_hidden,
.views_slideshow_cycle_controls,
.views_slideshow_cycle_image_count {
  display: none;
}

.views-slideshow-cycle-main-frame-row-item a.products img{
	width: 1145px;
	height: 461px;
	display: block;
}

/* Pager Settings */

.slideshow .controls A{
	font-size:0px !important;
}

.views_slideshow_cycle_pager div a{
	font-size: 0px !important;
	text-decoration: none !important;
}

.views_slideshow_cycle_pager div a img {
  width: 75px;
  height: 75px;
}

.views_slideshow_pager_numbered div, .views_slideshow_pager_thumbnails div {
  display: inline;
  padding-left: 10px;
}

.views_slideshow_cycle_pager.thumbnails a.activeSlide img {
  border: 3px solid #000;
}

.views_slideshow_cycle_pager.numbered a.activeSlide {
  text-decoration: underline;
}
