/**
 * Shurtape - homepage CSS
 * =======================
 * NOTE: keep the .home body class prepended to all selectors
 */

/**
 * subcontent
 */
.home #subcontent #cta_nav {
	background-color:#003e69;
	color:#ffffff;
	padding:4px;
}

.home #subcontent #cta_nav .intro {
	color:#e6e6e6;
	font-size:16px;
	text-transform:uppercase;
	width:300px;
	line-height:90px;
	text-align:right;
	padding-right:30px;
	font-weight:bold;
	margin-left:30px;
}

.home #subcontent #cta_nav .primary {
	width:250px;
	line-height:86px;
}

.home #subcontent #cta_nav .secondary {
	width:200px;
	padding-top:6px;
}

.home #subcontent #cta_nav .secondary .btn {
	margin:6px 0;
	width:190px;
}

.home #subcontent #cta_nav .separator {
	width:20px;
	height:90px;
	background-color:transparent;
	background-image:url(../images/bg_cta_separator.png);
	background-repeat:no-repeat;
	background-position:50% 50%;
	display:block;
	overflow:hidden;
	line-height:90px;
	text-align:center;
	font-weight:bold;
	margin:0 30px;
}


.home #subcontent hr {
	background-color:transparent;
	background-image:url(../images/bg_hr.png);
	background-repeat:no-repeat;
	background-position:0 0;
	display:block;
	width:860px;
	margin:20px auto;
	height:1px;
	border:none;
	clear:both;
}

/**
 * previously viewed carousel
 */
<<<<<<< HEAD
.home #subcontent #carousel {
=======
.home #subcontent #prev_viewed {
>>>>>>> 1de3afb9b0fbd88a3b6cefdfc655c2da962eaa49
	clear:both;
	overflow:hidden;
	position:relative;
	margin:0 14px 40px;
}

<<<<<<< HEAD
.home #subcontent #carousel h2 {
	color:#003e69;
}

.home #subcontent #carousel .control {
	background-color:transparent;
	background-repeat:no-repeat;
	background-position:50% 50%;
	width:53px;
	height:43px;
	display:block;
	position:absolute;
	top:50%;
}

.home #subcontent #carousel .control.prev {
	left:0;
	background-image:url(../images/btn_subnav_arrow_left.png);
}

.home #subcontent #carousel .control.next {
	right:0;
	background-image:url(../images/btn_subnav_arrow_right.png);
}


.home #subcontent #carousel .window {
	clear:both;
	overflow:hidden;
	display:block;
	float:none;
	width:800px;
	margin:0 auto;
}

.home #subcontent #carousel .item {
	float:left;
	width:160px;
	text-decoration:none;
	display:inline-block;
	height:180px;
	margin:10px 20px;
	padding:10px;
	color:#000000 !important;
}

.home #subcontent #carousel .item .item_thumb {
	clear:both;
	display:block;
	margin-bottom:10px;
}

.home #subcontent #carousel .item .item_title {
	clear:both;
	display:block;
	font-size:16px;
	line-height:16px;
	font-weight:bold;
}

.home #subcontent #carousel .item .item_desc {
	clear:both;
	display:block;
	font-size:10px;
	line-height:14px;
	font-weight:bold;
	margin-bottom:10px;
}


.home #subcontent #carousel .item .item_category {
	clear:both;
	display:block;
	font-size:10px;
	text-transform:uppercase;
}

/**
 * tout grid
 */
.home #subcontent #tout_grid {
	margin:0;
	margin-bottom:40px;
=======
.home #subcontent #prev_viewed h2 {
	color:#003e69;
}

.home #subcontent #prev_viewed.carousel .slide {
	overflow:hidden;
>>>>>>> 1de3afb9b0fbd88a3b6cefdfc655c2da962eaa49
}

.home #subcontent #prev_viewed .control {
	background-color:transparent;
	background-repeat:no-repeat;
	background-position:50% 50%;
	width:53px;
	height:43px;
	display:block;
	position:absolute;
	top:50%;
}

.home #subcontent #prev_viewed .control.prev {
	left:0;
	background-image:url(../images/btn_subnav_arrow_left.png);
}

.home #subcontent #prev_viewed .control.next {
	right:0;
	background-image:url(../images/btn_subnav_arrow_right.png);
}


.home #subcontent #prev_viewed .slide_window {
	clear:both;
	overflow:hidden;
	display:block;
	float:none;
	width:800px;
	margin:0 auto;
	position:relative;
}

.home #subcontent #prev_viewed .item {
	float:left;
	width:160px;
	text-decoration:none;
	display:inline-block;
<<<<<<< HEAD
	float:left;
	clear:none;
	overflow:hidden;
	width:261px;
	margin:20px;
	border-right:1px solid #b4b4b4;
	border-bottom:1px solid #b4b4b4;
	-moz-box-shadow:1px 1px 4px #b4b4b4;
	-webkit-box-shadow:1px 1px 4px #b4b4b4;
	box-shadow:1px 1px 4px #b4b4b4;
}

.lt-ie9 .home #subcontent #tout_grid .item_row .item {
	border-right:2px solid #c6c6c6;
	border-bottom:2px solid #c6c6c6;
}

.home #subcontent #tout_grid .item_row .item .overlay {
	position:absolute;
	bottom:0;
	left:0;
	background-color:#ffffff;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
	height:40px;
	width:100%;
=======
	height:180px;
	margin:10px 20px;
	padding:10px;
	color:#000000 !important;
}

.home #subcontent #prev_viewed .item .item_thumb {
	clear:both;
	display:block;
	margin-bottom:10px;
>>>>>>> 1de3afb9b0fbd88a3b6cefdfc655c2da962eaa49
}

.home #subcontent #prev_viewed .item .item_title {
	clear:both;
	display:block;
	font-size:16px;
	line-height:16px;
	font-weight:bold;
}

.home #subcontent #prev_viewed .item .item_desc {
	clear:both;
	display:block;
	font-size:10px;
	line-height:14px;
	font-weight:bold;
	margin-bottom:10px;
}


.home #subcontent #prev_viewed .item .item_category {
	clear:both;
	display:block;
	font-size:10px;
	text-transform:uppercase;
}

/**
 * product by market grid (homepage touts) - slight change from product by market grid on product index (main.css)
 */
.home .product_grid ul {
	margin-right:0 !important;
	margin-left:0 !important;
}

.home .product_grid ul li {
	padding-right:20px;
	padding-left:20px;
	margin-bottom:40px;
}

.home .product_grid ul li a.item .item_title {
	font-size:20px;
	padding:10px;
	padding-left:36px;
}

.home .product_grid ul li a.item .cta_arrow {
	top:10px;
	left:10px;
}


/**
 * responsiveness
 */
/* sm devices (tablets) */
@media (min-width: 768px) and (max-width: 991px) {

}

/* xs devices (phones) */
@media (max-width: 767px) {
	
}

/* xs devices (phones) */
@media (max-width: 500px) {
	
}