/**
 * Shurtape - product pages - category, products index, and product detail (but NOT search)
 * pages have body class .product
 */
.product #content {
	clear:both;
	overflow:hidden;
}

.product #content .fixed_wrap.white_box {
	-webkit-border-top-right-radius:0 !important;
	-webkit-border-top-left-radius:0 !important;
	-moz-border-radius-topright:0 !important;
	-moz-border-radius-topleft:0 !important;
	border-top-right-radius:0 !important;
	border-top-left-radius:0 !important;
	border-top:none;
	padding-bottom:40px;
}

.product #product_grid a {
	text-decoration:none;
}

/* sidebar - NOTE most of the CSS for the filter bar is in filter_bar.css*/
.product #sidebar {
	width:210px;
}

/**
 * main (right) section
 */
.product #main {
	width:692px;
}


.product #main .headline {
	font-size:24px;
}

.product #main .blue_bar {
	margin-bottom:6px;
}

/**
 * product category page
 */
.product.category #content .fixed_wrap.white_box {
	padding-left:0 !important;
}

.product.category #main #marquee {
	background-color:#f57e20;
	color:#ffffff;
	margin-bottom:6px;
}

.product.category #main #marquee .marquee_content {
	width:220px;
	padding:30px 0 20px 20px;
	font-size:14px;
}

.product.category #main #marquee .marquee_content .highlight {
	text-transform:uppercase;
	font-weight:bold;
}


.product.category #main #marquee .marquee_image {
	width:470px;
	text-align:right;
}

.product.category #main #featured_videos {
	display:block;
	clear:both;
	overflow:hidden;
	color: #ffffff;
	background-color: #003e69;
	padding:6px;
	margin-bottom:6px;
}

.product.category #main #featured_videos h3 {
	font-size:18px;
	font-weight:bold;
	margin-left:30px;
	margin-right:10px;
}

.product.category #main #featured_videos ul.list-inline {
	margin-bottom:0 !important;
}

.product.category #main #product_grid {
	background-image:url(../images/bg_grid_box.jpg);
	background-repeat:repeat;
	background-color:transparent;
	background-position:0 0;
	padding:10px 10px 40px;
	-webkit-border-bottom-right-radius:8px !important;
	-webkit-border-bottom-left-radius:8px !important;
	-moz-border-radius-bottomright:8px !important;
	-moz-border-radius-bottomleft:8px !important;
	border-bottom-right-radius:8px !important;
	border-bottom-left-radius:8px !important;
}

.product.category #main #product_grid h3 {
	padding:10px;
	font-weight:bold;
}

.product.category .product_grid ul {
	margin-right:0;
	margin-left:0;
}



/**
 * product page (detail)
 */
.product.detail #main {
	width:auto;
}

.product.detail .breadcrumbs a {
	color:#ffffff !important;
	text-decoration:none !important;
}

.product.detail #detail_content {
	margin:0;
	padding-bottom:20px;
}

.product.detail #detail_content .detail_media {
	padding-top:50px;
}


.product.detail #detail_content .detail_content {
	padding-top:70px;
	position:relative;
	padding-left:40px;
	color:#000000;
	font-weight:bold;
}

.product.detail #detail_content .detail_content .detail_badge {
	right:10px;
	top:10px;
	position:absolute;
}

.product.detail #detail_content .detail_content .detail_title {
	font-size:18px;
	color:#003e69 !important;
}

.product.detail #detail_content .detail_content .detail_subtitle {
	font-size:18px;
	margin-bottom:14px;
}

.product.detail #detail_content .detail_content .detail_meta {
	margin-bottom:14px;
}

.product.detail #detail_content .detail_content .detail_desc {
	margin-bottom:20px;
	font-weight:normal !important;
}

.product.detail #detail_content .detail_content .cta_box {
	width:220px;
	margin:0 auto;
}

.product.detail #detail_content .detail_content .cta_box .btn {
	width:100%;
	margin-bottom:10px;
	font-size:13px;
	color:#003e69 !important;
}

.product.detail #detail_content .detail_content .cta_box .btn.btn-orange {
	font-size:16px;
	color:#ffffff !important;
}

/**
 * product detail tab section
 */
.product.detail #tab_section  {
	display:block;
	clear:both;
	overflow:hidden;
	display:block;
	padding:16px;
}
.product.detail #tab_section ul.tab_controls {
	margin-left:0;
	margin-right:0;
}

.product.detail #tab_section ul.tab_controls li a.tab_control {
	padding:10px 20px;
	margin-right:5px;
	font-size:14px;
}

.product.detail #tab_section .tab_targets {
	width:700px;
	float:left;
	clear:none;
	min-height:400px;
}

.product.detail #tab_section h3 {
	font-size:16px;
	font-weight:bold;
}

.product.detail #tab_section table {
	margin-top:14px;
}

.product.detail #tab_section th {
	font-size:11px;
	padding:8px;
}

.product.detail #tab_section td {
	padding:8px;
	vertical-align:middle;
}

.product.detail #tab_section .related_products {
	width:140px;
	float:right;
	clear:none;
	margin-top:20px;
}

.product.detail #tab_section .related_products ul {
	padding-left:16px;
	color:#003e69 !important;
}

.product.detail #tab_section .related_products ul li a {
	text-decoration:none !important;
	font-size:12px;
	font-weight:bold;
}

.product.detail #tab_section .inline_grid .grid_group {
	clear:both;
	overflow:hidden;
	display:table-row;
	vertical-align:inherit;
	
}

.product.detail #tab_section .grid_label {
	width:200px;
	margin-right:30px;
	position:relative;
	vertical-align:middle;
	display:table-cell;
}

.product.detail #tab_section .grid_label h4 {
	font-size:16px;
	font-weight:bold;
}

.product.detail #tab_section .grid_content {
	width:470px;
	padding-left:30px;
	vertical-align:middle;
	display:table-cell;
	padding:30px 0;
	padding-left:46px;
}

.product.detail #tab_section .grid_content .grid_item {
	width:82px;
	text-align:center;
	margin:10px;
	text-decoration:none !important;
	color:#000000;
}

.product.detail #tab_section .grid_content .title {
	clear:both;
	overflow:hidden;
	display:block;
	margin-top:10px;
}


.product.detail #tab_section #videos_tab {
	clear:both;
	overflow:hidden;
	display:block;
	padding:10px;
}

.product.detail #tab_section #videos_tab ul.video_thumbs {
	list-style:none;
}

.product.detail #tab_section #videos_tab ul.video_thumbs li {
	display:inline-block;
	padding:0;
	margin-right:10px;
}

.product.detail #tab_section #videos_tab ul.video_thumbs li a {
	display:block;
	padding:0;
	overflow:hidden;
	text-decoration:none;
}

.product.detail #tab_section #videos_tab ul.video_thumbs li a .vid_title {
	display:block;
	clear:both;
	color:#003e69 !important;
	font-weight:bold;
	margin-top:4px;
}

.product.detail #tab_section #size_color_tab .color_item {
	display:inline-block;
	float:left;
	margin-right:4px;
}

.product.detail #tab_section #size_color_tab .color_item .tag{
	font-size:10px;
	text-align:center;
	display:block;
}

.product.detail #tab_section #size_color_tab .color_item .box{
	background-color:#ffffff;
	width:24px;
	height:16px;
	display:block;
	border:1px solid #000000;
}

.product.detail #tab_section #size_color_tab .color_item.tan .box{
	background-color:#c59861;
}

.product.detail #tab_section #size_color_tab .color_item.blk .box{
	background-color:#000000;
}

.product.detail #tab_section #size_color_tab .color_item.blu .box{
	background-color:#0061e0;
}

.product.detail #tab_section #size_color_tab .color_item.grn .box{
	background-color:#00bc00;
}

.product.detail #tab_section #size_color_tab .color_item.org .box{
	background-color:#ff2f00;
}

.product.detail #tab_section #size_color_tab .color_item.yel .box{
	background-color:#fff700;
}

.product.detail #tab_section #size_color_tab .color_item.red .box{
	background-color:#ff0031;
}

/**
 * product index page
 */
.product.index #content .fixed_wrap.white_box {
	padding-left:0 !important;
}

.product.index #content h3.blue_bar {
	font-size:16px !important;
	font-weight:bold;
	margin-bottom:0 !important;
}

/**
 * responsiveness
 */
/* sm devices (tablets) */
@media (min-width: 768px) and (max-width: 991px) {

}

/* xs devices (phones) */
@media (max-width: 767px) {
	
}

/* xs devices (phones) */
@media (max-width: 500px) {
	
}