/**
 * slideshow CSS for custom slideshow (non-plugin)
 */
.slideshow {
	position:relative;
}

.slideshow .slides {
	width:1145px;
	height:461px;
}

.slideshow .slide {
	display:none;
}

.slideshow .slide.current {
	display:block;
}

.slideshow .controls {
	position:absolute;
	top:340px;
	left:930px;
}

.slideshow .controls a.control {
	background-color:transparent;
	background-image:url(../images/btn_slidenav.png);
	background-repeat:no-repeat;
	background-position:50% 50%;
	width:20px;
	height:20px;
	float:left;
	margin:0 2px;
	display:inline-block;
}

.slideshow .controls a.control.current {
	background-image:url(../images/btn_slidenav_active.png);
}