/**
 * @file
 * Styles for blog pages.
 */

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans/OpenSans.eot?#iefix') format("embedded-opentype"), url('../fonts/OpenSans/OpenSans.woff') format("woff"), url('../fonts/OpenSans/OpenSans.ttf') format("truetype"), url('../fonts/OpenSans/OpenSans.svg#OpenSans') format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'OpenSans-Light';
  src: url('../fonts/OpenSans-Light/OpenSans-Light.eot?#iefix') format("embedded-opentype"), url('../fonts/OpenSans-Light/OpenSans-Light.woff') format("woff"), url('../fonts/OpenSans-Light/OpenSans-Light.ttf') format("truetype"), url('../fonts/OpenSans-Light/OpenSans-Light.svg#OpenSans-Light') format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Helvetica-Narrow';
  src: url('../fonts/Helvetica-Narrow/Helvetica-Narrow.eot?#iefix') format("embedded-opentype"), url('../fonts/Helvetica-Narrow/Helvetica-Narrow.woff') format("woff"), url('../fonts/Helvetica-Narrow/Helvetica-Narrow.ttf') format("truetype"), url('../fonts/Helvetica-Narrow/Helvetica-Narrow.svg#Helvetica-Narrow') format("svg");
  font-weight: normal;
  font-style: normal;
}


.page-blogs #subcontent {
  padding: 50px 25px;
  .pane-shurtape-blogs {
    .view-content {
      padding-right: 20px;
    }
    .views-row {
      padding: 0 0 32px 0;
      border-bottom: solid 1px #003e69;
    }
    h2 {
      margin: 0;
      padding-left: 10px;
      color: #f57e20;
      font-weight: bold;
      font-size: 21px;
      font-family: 'Helvetica-Narrow', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      line-height: 24px;
    }
  }
}

.page-blog-view #subcontent .pane-node-field-blog-category div.field-item, .page-blogs #subcontent .pane-shurtape-blogs .view-header > h3 {
  display: block;
  float: none;
  clear: both;
  overflow: hidden;
  margin: 10px 0 0;
  padding: 0 18px;
  min-height: 32px;
  background-color: #003e69;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  font-family: 'OpenSans', Helvetica, Arial, sans-serif;
  line-height: 32px;
}

.page-blog-view #subcontent .pane-node-title, .page-blogs #subcontent .pane-shurtape-blogs .views-field-title {
  margin-top: 24px;
  padding: 0 18px;
}

.page-blog-view #subcontent .pane-node-title h3, .page-blogs #subcontent .pane-shurtape-blogs .views-field-title a {
  margin: 0;
  color: #003e69;
  text-decoration: none;
  font-size: 19px;
  font-family: 'OpenSans-Light', Helvetica, Arial, sans-serif;
  line-height: 24px;
}

.page-blog-view {
  .panel-separator {
    margin: 0;
  }
  #subcontent .pane-node-created {
    margin-bottom: 14px;
    padding: 0 18px;
    color: #323232;
    font-size: 13px;
    font-family: 'OpenSans-Light', Helvetica, Arial, sans-serif;
    line-height: 16px;
  }
}

.page-blogs #subcontent .pane-shurtape-blogs .views-field-created {
  margin-bottom: 14px;
  padding: 0 18px;
  color: #323232;
  font-size: 13px;
  font-family: 'OpenSans-Light', Helvetica, Arial, sans-serif;
  line-height: 16px;
}

.page-blog-view #subcontent {
  .pane-node-body img.additional-image {
    float: right;
    clear: right;
    margin-top: 13px;
    margin-left: 22px;
    border-top: 1px solid #b4b4b4;
    border-left: 1px solid #b4b4b4;
    box-shadow: -1px -1px 4px #b4b4b4;
  }
  #spacer {
    float: right;
    width: 0;
  }
  .pane-node-field-blog-main-image {
    float: left;
    padding-right: 22px;
    padding-bottom: 13px;
  }
}

.page-blogs #subcontent .pane-shurtape-blogs .views-field-field-blog-main-image {
  float: left;
  padding-right: 22px;
  padding-bottom: 13px;
}

.page-blog-view #subcontent .pane-node-field-blog-main-image img {
  border-right: 1px solid #b4b4b4;
  border-bottom: 1px solid #b4b4b4;
  box-shadow: 1px 1px 4px #b4b4b4;
}

.page-blogs #subcontent .pane-shurtape-blogs {
  .views-field-field-blog-main-image img {
    border-right: 1px solid #b4b4b4;
    border-bottom: 1px solid #b4b4b4;
    box-shadow: 1px 1px 4px #b4b4b4;
  }
  .views-field-sharethis {
    float: left;
    clear: left;
    width: 234px;
  }
}

.page-blog-view #subcontent .pane-sharethis {
  margin-top: 50px;
  .stButton {
    margin: 0 5px 0 0;
  }
}

.page-blogs #subcontent .pane-shurtape-blogs .views-field-sharethis .stButton {
  margin: 0 5px 0 0;
}

.page-blog-view #subcontent .pane-sharethis .stButton .stLarge, .page-blogs #subcontent .pane-shurtape-blogs .views-field-sharethis .stButton .stLarge {
  width: 22px;
  height: 22px;
  background-size: cover;
}

.page-blog-view #subcontent .pane-sharethis .stButton .stLarge:hover, .page-blogs #subcontent .pane-shurtape-blogs .views-field-sharethis .stButton .stLarge:hover {
  background-position: -22px;
}

.page-blog-view #subcontent .pane-node-body div.field-item {
  margin-top: -3px;
  color: #323232;
  font-size: 13px;
  font-family: 'OpenSans-Light', Helvetica, Arial, sans-serif;
  line-height: 16px;
}

.page-blogs #subcontent {
  .pane-shurtape-blogs {
    .views-field-body {
      margin-top: -3px;
      color: #323232;
      font-size: 13px;
      font-family: 'OpenSans-Light', Helvetica, Arial, sans-serif;
      line-height: 16px;
    }
    .views-field-view-node {
      &:after, &:before {
        display: table;
        clear: both;
        content: " ";
      }
    }
    .view-empty {
      margin-top: 24px;
      padding: 0 18px;
      font-size: 15px;
      font-family: 'OpenSans', Helvetica, Arial, sans-serif;
      line-height: 34px;
    }
    .views-field-view-node {
      margin-top: 25px;
      a {
        display: block;
        float: right;
        width: 152px;
        height: 34px;
        background: url(../images/btn-readmore.png) no-repeat 0 0;
        color: #fff;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 13px;
        font-family: 'OpenSans', Helvetica, Arial, sans-serif;
        line-height: 34px;
        &:hover, &:active {
          border-radius: 20px;
          background: #e77b11;
        }
      }
    }
  }
  .panels-flexible-region.blog-right-sidebar {
    width: 22.8270%;
  }
}

.page-blog-view #subcontent .panels-flexible-region.blog-right-sidebar {
  width: 23.770%;
}

.page-blogs .panels-flexible-region-6-center {
  width: 100%;
}

#subcontent .pane-blog-right-sidebar {
  margin-top: 38px;
}

body {
  &.page-blogs-by-term #subcontent .pane-blog-right-sidebar, &.page-blog-view #subcontent .pane-blog-right-sidebar {
    margin-top: 80px;
  }
}

#subcontent .pane-blog-right-sidebar {
  h2 {
    padding-right: 17px;
    background: transparent url(../images/bg_blog_heading.png) no-repeat 0 0;
    text-align: right;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'OpenSans-Light', Helvetica, Arial, sans-serif;
    line-height: 36px;
  }
  .pane-blog-authors {
    margin-top: 53px;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
  .pane-blog-categories ul, .pane-blog-authors ul li, .pane-blog-categories ul li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .pane-blog-authors .pane-content > ul > li > a, .pane-blog-categories .pane-content > ul > li > a {
    position: relative;
    display: block;
    margin: 15px 0 18px 18px;
    padding: 10px 10px 10px 35px;
    border: 1px solid #bbb;
    background: transparent url(../images/bg_grid_box.jpg) repeat 0 0;
    color: #003e69;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    font-family: 'OpenSans-Light', Helvetica, Arial, sans-serif;
    line-height: 15px;
  }
  .pane-blog-authors .pane-content > ul > li > a {
    padding: 10px;
  }
  .pane-blog-categories .pane-content > ul > li > a:hover, .pane-blog-authors .pane-content > ul > li > a:hover {
    text-decoration: underline;
  }
  .pane-blog-categories .pane-content > ul > li {
    ul {
      margin: -5px 0;
      padding-left: 33px;
      li {
        margin-bottom: 3px;
        a {
          display: inline-block;
          padding-left: 14px;
          background: transparent url(../images/icon_bullet.png) no-repeat 0 5px;
          color: #003e69;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    > a:before {
      position: absolute;
      top: 10px;
      left: 10px;
      display: inline-block;
      width: 15px;
      height: 15px;
      background: transparent url(../images/btn_filter_arrow.png) no-repeat 50% 50%;
      content: " ";
    }
    &.expanded > a:before {
      background: transparent url(../images/btn_filter_arrow_open.png) no-repeat 50% 50%;
    }
  }
}

#content .pane-shurtape-blog-shurtape-notification-signup {
  .help-text {
    margin-top: 45px;
    margin-bottom: 10px;
    color: #003e69;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'OpenSans-Light', Helvetica, Arial, sans-serif;
    line-height: 18px;
  }
  .actions {
    display: table;
    margin: 0 0 0 auto;
    a {
      display: block;
      width: 202px;
      height: 46px;
      margin-bottom: 15px;
      background: url(../images/btn-signup.png) no-repeat 0 0;
      color: #fff;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 18px;
      font-family: 'OpenSans', Helvetica, Arial, sans-serif;
      line-height: 46px;
      &:hover, &:active {
        border-radius: 25px;
        background: #e77b11;
      }
    }
    .ajax-progress {
      display: none;
    }
  }
}

body {
  &.page-blog-view #subcontent {
    .pane-node-comments {
      border-top: solid 1px #003e69;
      .comment-title {
        margin: 0 0 25px;
        font-size: 16px;
        font-family: 'OpenSans-Light', Helvetica, Arial, sans-serif;
        line-height: 18px;
        a {
          color: #323232;
          text-decoration: none;
        }
      }
      .pane-content > div.comment {
        margin-top: 40px;
      }
      .content {
        color: #323232;
        font-size: 12px;
        font-family: 'OpenSans-Light', Helvetica, Arial, sans-serif;
        line-height: 18px;
        .field-item p {
          margin-bottom: 0;
        }
      }
      .links a {
        text-decoration: none;
      }
    }
    form.comment-form {
      div[id*="edit-author"], .grippie {
        display: none;
      }
    }
    .pane-node-comments {
      .links li {
        padding: 0;
      }
      .submitted {
        display: none;
      }
    }
    .pane-node-field-youtube-video-id {
      float: left;
      clear: both;
      padding: 5px 10px 0 0;
      max-width: 458px;
      width: 100%;
    }
    form.comment-form input[type="submit"] {
      display: block;
      width: 152px;
      height: 34px;
      border: 0;
      background: url(../images/btn-readmore.png) no-repeat 0 0;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
      font-family: 'OpenSans', Helvetica, Arial, sans-serif;
      line-height: 34px;
      &:hover {
        border-radius: 20px;
        background: #e77b11;
      }
    }
  }
  &.not-logged-in.page-blog-view {
    #content .pane-node-comment-form a {
      display: block;
      margin-top: 15px;
      margin-bottom: 25px;
      width: 222px;
      height: 34px;
      border: 0;
      background: url(../images/btn-post-comments.png) no-repeat 0 0;
      color: #fff;
      text-align: center;
      text-decoration: none;
      text-transform: capitalize;
      font-weight: bold;
      font-size: 14px;
      font-family: 'OpenSans', Helvetica, Arial, sans-serif;
      line-height: 34px;
    }
    .pane-node-comments .comment .links {
      display: none;
    }
  }
  &.page-blogs #content .item-list > ul.pager {
    margin: 35px 0;
    li {
      margin-right: 15px;
      border: solid 1px #003e69;
      border-radius: 0;
      background: #fff;
      color: #003e69;
      font-size: 15px;
      font-family: 'OpenSans-Light', Helvetica, Arial, sans-serif;
      line-height: 18px;
      &.last {
        margin-right: 0;
      }
      a {
        margin: 0;
        padding: 6px 11px;
        color: #003e69;
      }
      &.pager-current {
        padding: 6px 11px;
        background: #003e69;
        color: #fff;
      }
      &:hover {
        background: #003e69;
        color: #fff;
      }
      &.pager-current a, &:hover a {
        color: #fff;
      }
    }
  }
  &.page-admin-structure-taxonomy-newsletter {
    #taxonomy tr th:last-child, ul.action-links {
      font-size: 0;
    }
  }
}

.blog-modal-signup {
  &#modalContent {
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    z-index: 10000;
    display: block;
    overflow: hidden;
  }
  legend {
    color: #003e69;
    font-weight: bold;
    font-size: 22px;
    font-family: 'OpenSans', Helvetica, Arial, sans-serif;
    line-height: 40px;
  }
  .fieldset-description {
    font-size: 15px;
    font-family: 'OpenSans-Light', Helvetica, Arial, sans-serif;
    line-height: 18px;
  }
  .form-item-mail label {
    font-family: 'OpenSans', Helvetica, Arial, sans-serif;
  }
  input {
    &[type="text"] {
      display: block;
      padding: 6px 12px;
      width: 100%;
      height: 34px;
      border: 1px solid #ccc;
      border-radius: 4px;
      background: #fff none;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      color: #555;
      font-size: 14px;
      line-height: 1.42857143;
      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
      &:focus {
        outline: 0;
        border-color: #66afe9;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
      }
      &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &::-webkit-input-placeholder {
        color: #999;
      }
    }
    &[type="submit"] {
      display: inline-block;
      margin-right: 10px;
      width: 152px;
      height: 34px;
      border: 0;
      background: url(../images/btn-readmore.png) no-repeat 0 0;
      color: #fff;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 13px;
      font-family: 'OpenSans', Helvetica, Arial, sans-serif;
      line-height: 34px;
      &:hover {
        border-radius: 20px;
        background: #e77b11;
      }
    }
  }
  .form-checkboxes .form-item {
    position: relative;
    display: block;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #bbb;
    background: transparent url(../images/bg_grid_box.jpg) repeat 0 0;
    color: #003e69;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    font-family: 'OpenSans-Light', Helvetica, Arial, sans-serif;
    line-height: 15px;
    input {
      margin: -4px 0 0;
    }
  }
  .modal-title {
    font-size: 18px;
    font-family: 'OpenSans', Helvetica, Arial, sans-serif;
    line-height: 40px;
  }
  .modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #003e69;
    a.close {
      margin: 0;
      > button.close {
        margin: 0 10px 0 0;
        line-height: 40px;
        opacity: 1;
      }
    }
  }
  .ctools-modal-content {
    position: relative;
    margin: 50px auto;
    max-width: 550px;
    height: auto !important;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  }
  #modal-content {
    position: relative;
    padding: 15px;
    width: 100% !important;
    height: auto !important;
    border: 0;
    border-radius: 0;
    box-shadow: none;
  }
}

#modalBackdrop {
  background: rgb(0, 0, 0) !important;
}

.page-newsletter-confirm #content .content {
  padding: 10px;
  font-size: 15px;
  font-family: 'OpenSans-Light', Helvetica, Arial, sans-serif;
  line-height: 15px;
  .item-list {
    font-size: 15px;
    font-family: 'OpenSans', Helvetica, Arial, sans-serif;
    line-height: 15px;
  }
  input[type="submit"] {
    display: inline-block;
    margin-right: 10px;
    width: 152px;
    height: 34px;
    border: 0;
    background: url(../images/btn-readmore.png) no-repeat 0 0;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    font-family: 'OpenSans', Helvetica, Arial, sans-serif;
    line-height: 34px;
    &:hover {
      border-radius: 20px;
      background: #e77b11;
    }
  }
}

.view-id-comments .views-row {
  margin: 20px 0;
  h3 {
    margin: 0;
    font-size: 16px;
    font-family: 'OpenSans-Light', Helvetica, Arial, sans-serif;
    line-height: 18px;
    a {
      color: #323232 !important;
      text-decoration: none !important;
    }
  }
  em {
    color: #323232;
    font-size: 13px;
    font-family: 'OpenSans-Light', Helvetica, Arial, sans-serif;
    line-height: 16px;
  }
  .views-field-comment-body {
    color: #323232;
    font-size: 12px;
    font-family: 'OpenSans-Light', Helvetica, Arial, sans-serif;
    line-height: 18px;
    margin: 5px 0;
  }
  .views-field-edit-comment a {
    text-decoration: none !important;
  }
}
