/* 
 * dragtable
 *
 * @Version 2.0.10
 *
 * default css
 *
 */
/*##### the dragtable stuff #####*/

.dragtable-sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  -moz-user-select: none;
  li {
    margin: 0;
    padding: 0;
    float: left;
    font-size: 1em;
    background: white;
  }
  th, td {
    border-left: 0px;
  }
  li:first-child {
    th, td {
      border-left: 1px solid #CCC;
    }
  }
}

.ui-sortable-helper {
  opacity: 0.7;
  filter: alpha(opacity = 70);
  width: 120px;
}

.ui-sortable-placeholder {
  box-shadow: 4px 5px 4px #C6C6C6 inset;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #CCCCCC;
  visibility: visible !important;
  background: #EFEFEF !important;
  visibility: visible !important;
  * {
    opacity: 0.0;
    visibility: hidden;
  }
}
