/**
 * promotion page
 */

.node-type-promotion-page {
  .promotion_product_header {
    font-size: 20px;
    font-family: "franklin-gothic-urw",sans-serif;
    font-weight: bold;
    padding-left: 1em !important;
    padding-right: 1em !important;
    margin-top: 0 !important;
  }
  #marquee {
    width: 1145px;
    margin: 0 auto;
    z-index: 501;
    position: relative;
    padding-top: 1em;
  }
  #content #main.fixed_wrap.white_box {
    position: relative;
    margin-top: -66px;
    z-index: 502;
    padding: 10px;
    border-top-right-radius: 0.4em !important;
    border-top-left-radius: 0.4em !important;
  }
  .link_promo {
    text-decoration: none !important;
  }
  .promo_browse_portfolio {
    font-size: 1em;
    font-weight: bold;
    font-family: "franklin-gothic-urw",sans-serif;
  }
  p.promo_thank-you-interest {
    font-family: "franklin-gothic-urw",sans-serif;
    font-weight: bold;
    margin-top: 1em;
    font-size: 1.2em;
  }
  ul.product_list {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0 1em;
    clear: both;
    overflow: hidden;
    li.item {
      float: left;
      width: 25%;
      text-decoration: none;
      display: inline-block;
      min-height: 210px;
      margin: 0;
      padding: 2em;
      color: #000000 !important;
      a {
        display: block;
        overflow: hidden;
      }
      .item_thumb {
        clear: both;
        display: block;
        margin-bottom: 2em;
        img {
          width: 100%;
          max-width: 100%;
          height: auto;
        }
      }
      .item_title {
        clear: both;
        display: block;
        font-size: 1em;
        line-height: 1em;
        font-weight: bold;
        margin-bottom: 3px;
        overflow: hidden;
        a {
          color: #000000 !important;
          text-decoration: none !important;
        }
      }
      .item_desc {
        clear: both;
        display: block;
        font-size: 0.8em;
        line-height: 1.2em;
        font-weight: bold;
        margin-bottom: 10px;
      }
    }
  }
  .promotion_form {
    position: relative;
    padding: 10px 30px;
    .logo_box {
      position: absolute;
      right: 0;
      top: 32px;
      display: block;
      width: 140px;
    }
    .form_title {
      color: #003E69;
      font-size: 24px;
      font-family: "franklin-gothic-urw",sans-serif;
      text-transform: uppercase;
      font-weight: bold;
    }
    .form_box {
      width: 80%;
      padding-bottom: 3em;
    }
  }
  #content #edit-actions .form-submit {
    position: relative;
    font-weight: bold;
    text-decoration: none !important;
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    color: #ffffff !important;
    background-color: #ee8925;
    background-image: -moz-linear-gradient(top, #feaa55, #e27203);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#feaa55), to(#e27203));
    background-image: -webkit-linear-gradient(top, #feaa55, #e27203);
    background-image: -o-linear-gradient(top, #feaa55, #e27203);
    background-image: linear-gradient(to bottom, #feaa55, #e27203);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffeaa55', endColorstr='#ffe27203', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border-radius: 2em;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
    border-color: transparent !important;
    padding: 10px 3em;
    font-size: 18px;
    line-height: 1.33;
    /* outline: none; */
  }
}

/**
 * product list (4 items on top of promotion form)
 */

/**
 * promotions form
 */

/**
 * thank you page
 */

.page-promotion-thank-you {
  .headline {
    margin-top: 0 !important;
  }
  .row.header_img {
    margin: 0 !important;
    text-align: center;
  }
  .promotion_product_header {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    font-size: 1.3em;
    margin-top: 0 !important;
  }
}
