/**
 * Shurtape - product pages - category, products index, and product detail (but NOT search)
 * pages have body class .product
 */

.product {
  #content {
    clear: both;
    overflow: hidden;
    .fixed_wrap.white_box {
      border-top-right-radius: 0 !important;
      border-top-left-radius: 0 !important;
      border-top: none;
      padding-bottom: 40px;
    }
  }
  #product_grid a {
    text-decoration: none;
  }
  #sidebar {
    width: 210px;
  }
  #main {
    width: 692px;
    .headline {
      font-size: 24px;
    }
    .blue_bar {
      margin-bottom: 6px;
    }
  }
  &.category {
    #content .fixed_wrap.white_box {
      padding-left: 0 !important;
    }
    #main {
      #marquee {
        background-color: #f57e20;
        color: #ffffff;
        margin-bottom: 6px;
        .marquee_content {
          width: 220px;
          padding: 10px 10px 0 10px;
          font-size: 14px;
          p {
            margin-bottom: 0 !important;
          }
          .highlight {
            text-transform: uppercase;
            font-weight: bold;
          }
        }
        .marquee_image {
          width: 470px;
          text-align: right;
        }
      }
      #featured_videos {
        display: block;
        clear: both;
        overflow: hidden;
        color: #ffffff;
        background-color: #003e69;
        padding: 6px;
        margin-bottom: 6px;
        .video_thumb {
          position: relative;
          display: block;
          overflow: hidden;
        }
        .play_overlay {
          position: absolute;
          background-image: url(../images/control_play_button.png);
          background-repeat: no-repeat;
          background-color: transparent;
          background-position: 50% 50%;
          width: 96px;
          display: block;
          height: 72px;
          top: 0;
          left: 0;
          z-index: 501;
        }
        h3 {
          font-size: 18px;
          font-weight: bold;
          margin-left: 30px;
          margin-right: 10px;
          margin-top: 25px !important;
        }
        ul.list-inline {
          margin-bottom: 0 !important;
        }
      }
      #product_grid {
        background-image: url(../images/bg_grid_box.jpg);
        background-repeat: repeat;
        background-color: transparent;
        background-position: 0 0;
        padding: 10px 10px 40px;
        border-bottom-right-radius: 8px !important;
        border-bottom-left-radius: 8px !important;
        h3 {
          padding: 10px;
          font-weight: bold;
        }
      }
    }
    .product_grid ul {
      margin-right: 0;
      margin-left: 0;
    }
  }
}

/* sidebar - NOTE most of the CSS for the filter bar is in filter_bar.css*/

/**
 * main (right) section
 */

/**
 * product category page
 */

.product_grid ul.flush {
  margin-right: -10px !important;
  margin-left: -10px !important;
  li a img {
    width: 100%;
    height: auto;
  }
}

/**
 * product page (detail)
 */

.node-type-product {
  .breadcrumbs {
    font-family: Arial, Helvetica, sans-serif !important;
    a {
      color: #ffffff !important;
      text-decoration: none !important;
    }
  }
  #detail_content {
    margin: 0;
    padding-bottom: 20px;
    .detail_media {
      padding-top: 30px;
    }
    .detail_content {
      padding-top: 60px;
      position: relative;
      padding-left: 40px;
      color: #000000;
      font-weight: bold;
      .detail_badge {
        right: 10px;
        top: 10px;
        position: absolute;
      }
      .detail_title {
        font-size: 18px;
        color: #003e69 !important;
      }
      .detail_subtitle {
        font-size: 18px;
        margin-bottom: 14px;
      }
      .detail_meta {
        margin-bottom: 14px;
      }
      .detail_desc {
        margin-bottom: 20px;
        font-weight: normal !important;
      }
      .cta_box_wrap {
        position: relative;
      }
      .cta_box {
        width: 210px;
        margin: 0 auto;
        position: relative;
        z-index: 101;
        ul {
          list-style: none !important;
          margin: 0 !important;
          padding: 0 !important;
          li {
            list-style-type: none !important;
            list-style-image: none !important;
            margin: 0 !important;
            padding: 0 !important;
            clear: both;
          }
        }
        .btn {
          width: 100%;
          margin-bottom: 10px;
          font-size: 13px;
          color: #003e69 !important;
          &.btn-orange {
            font-size: 16px;
            color: #ffffff !important;
          }
        }
      }
      .popout {
        position: absolute;
        background: #ffffff;
        z-index: 102;
        width: 390px;
        height: 195px;
        top: -4px;
        left: 0;
        border: 1px solid #cccccc;
        padding: 10px !important;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 8px;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
        filter: alpha(opacity = 90);
        -moz-opacity: 0.9;
        -khtml-opacity: 0.9;
        opacity: 0.9;
        display: none;
        h3 {
          text-align: center;
          color: #003e69 !important;
          font-weight: bold;
          font-family: "franklin-gothic-urw",sans-serif;
          margin-top: 0 !important;
        }
        .close_popout {
          position: absolute;
          top: 6px;
          right: 16px;
          text-decoration: none;
          color: #003e69 !important;
          font-size: 10px;
          line-height: 11px;
          display: inline-block;
          padding: 6px;
          padding-right: 18px;
          background-image: url(../images/control_popout_close.png);
          background-color: transparent;
          background-position: 100% 50%;
          background-repeat: no-repeat;
        }
        .popout_body {
          text-align: center;
          font-size: 18px;
          font-weight: normal;
          padding-top: 26px;
          .phone_number {
            font-size: 26px;
            font-weight: bold;
            color: #003e69 !important;
          }
        }
      }
    }
  }
  #tab_section {
    display: block;
    clear: both;
    overflow: hidden;
    display: block;
    ul.tab_controls {
      margin: 20px 0 0;
      border-bottom: 1px solid #999999;
      padding-left: 20px;
      display: block;
      width: 100%;
      li a.tab_control {
        padding: 10px 20px;
        margin-right: 5px;
        font-size: 14px;
        border: 1px solid #999999;
        border-bottom: none;
        &.current {
          border-bottom: 1px solid #ffffff;
          margin-bottom: -1px !important;
        }
      }
    }
    .tab_wrapper {
      display: block;
      width: 100%;
      border: 1px solid #999999;
      border-top: none;
      overflow: hidden;
      clear: both;
      padding: 20px 30px;
    }
    .tab_targets {
      width: 660px;
      float: left;
      clear: none;
      min-height: 400px;
    }
    h3 {
      font-size: 16px;
      font-weight: bold;
    }
    table {
      margin-top: 14px;
    }
    th {
      font-size: 11px;
      padding: 8px;
    }
    td {
      padding: 8px;
      vertical-align: middle;
    }
    .related_products {
      width: 140px;
      float: right;
      clear: none;
      margin-top: 20px;
      ul {
        padding-left: 16px;
        color: #003e69 !important;
        li a {
          text-decoration: none !important;
          font-size: 12px;
          font-weight: bold;
        }
      }
    }
    .inline_grid .grid_group {
      clear: both;
      overflow: hidden;
      display: table-row;
      vertical-align: inherit;
    }
    .grid_label {
      width: 200px;
      margin-right: 30px;
      position: relative;
      vertical-align: middle;
      display: table-cell;
      h4 {
        font-size: 16px;
        font-weight: bold;
      }
    }
    .grid_content {
      width: 470px;
      padding-left: 30px;
      vertical-align: middle;
      display: table-cell;
      padding: 30px 0;
      padding-left: 46px;
    }
    .field-content .grid_item {
      width: 82px;
      text-align: center;
      margin: 10px;
      text-decoration: none !important;
      color: #000000;
    }
    .field-items {
      overflow: hidden;
      a {
        width: 90px;
        height: 100px;
        text-align: center;
        margin: 10px;
        text-decoration: none !important;
        color: #000000;
        float: left !important;
      }
    }
    .title {
      clear: both;
      overflow: hidden;
      display: block;
      margin-top: 10px;
      line-height: 1.4em;
    }
    #videos_tab {
      clear: both;
      overflow: hidden;
      display: block;
      padding: 10px;
      .video_thumbs ul {
        list-style: none;
        li {
          display: inline-block;
          padding: 0;
          margin-right: 10px;
          width: 160px;
          height: 180px;
          overflow: hidden;
          a {
            display: block;
            padding: 0;
            overflow: hidden;
            text-decoration: none;
            position: relative;
            .play_overlay {
              position: absolute;
              background-image: url(../images/control_play_button.png);
              background-repeat: no-repeat;
              background-color: transparent;
              background-position: 50% 50%;
              width: 160px;
              display: block;
              height: 120px;
              top: 0;
              left: 0;
              z-index: 501;
            }
            .vid_title {
              display: block;
              clear: both;
              color: #003e69 !important;
              font-weight: bold;
              margin-top: 4px;
            }
          }
        }
      }
    }
    #downloads_tab .grid_group .views-row {
      width: 33.333%;
      display: inline-block;
      float: left !important;
      clear: none;
      padding: 1em;
      margin: 0;
    }
  }
}

/* popout */

/**
 * product detail tab section
 */

/****************/

/**
 * product product table - downloads tab
 */

/**
 * colors
 */

.color_item {
  display: inline-block;
  float: left;
  margin-right: 4px;
  .tag {
    font-size: 10px;
    text-align: center;
    display: block;
  }
  .box {
    background-color: #ffffff;
    width: auto;
    height: 16px;
    display: block;
    border: 1px solid #000000;
  }
  &.bei .box {
    background-color: rgb(206, 157, 108);
  }
  &.bkw .box {
    background-color: #ffffff;
  }
  &.bky .box {
    background-color: rgb(255, 247, 0);
  }
  &.blk .box {
    background-color: #000000;
  }
  &.blu .box {
    background-color: rgb(0, 97, 224);
  }
  &.bpt .box {
    background-color: rgb(0, 0, 0);
  }
  &.brg .box {
    background-color: rgb(136, 37, 74);
  }
  &.brn .box {
    background-color: rgb(141, 94, 47);
  }
  &.cau .box, &.caution-yel .box {
    background-color: rgb(255, 247, 0);
  }
  &.clr .box {
    background-color: #ffffff;
  }
  &.dbl .box {
    background-color: rgb(0, 45, 134);
  }
  &.dgr .box, &.danger-red .box {
    background-color: rgb(212, 0, 30);
  }
  &.flg .box {
    background-color: rgb(0, 255, 0);
  }
  &.flb .box {
    background-color: rgb(0, 105, 225);
  }
  &.flo .box {
    background-color: rgb(254, 110, 0);
  }
  &.flp .box {
    background-color: rgb(255, 0, 255);
  }
  &.fly .box {
    background-color: rgb(255, 255, 0);
  }
  &.fgr .box {
    background-color: rgb(56, 236, 0);
  }
  &.fgn .box {
    background-color: rgb(0, 102, 51);
  }
  &.frd .box {
    background-color: rgb(252, 0, 18);
  }
  &.gld .box, &.gold .box {
    background-color: rgb(251, 239, 5);
  }
  &.glg .box {
    background-color: rgb(102, 255, 0);
  }
  &.gpt .box {
    background-color: rgb(175, 175, 175);
  }
  &.grn .box {
    background-color: rgb(0, 188, 0);
  }
  &.gry .box {
    background-color: rgb(220, 220, 220);
  }
  &.kft .box {
    background-color: rgb(183, 122, 61);
  }
  &.lbl .box {
    background-color: rgb(102, 204, 255);
  }
  &.lea .box {
    background-color: #ffffff;
  }
  &.lead {
    .box {
      background-color: #ffffff;
    }
    margin-bottom: 0 !important;
  }
  &.hazard-wh .box {
    background-color: #ffffff;
  }
  &.lgr .box {
    background-color: rgb(153, 255, 0);
  }
  &.lty .box {
    background-color: rgb(255, 248, 186);
  }
  &.mpt .box {
    background-color: rgb(220, 220, 220);
  }
  &.msl .box {
    background-color: rgb(135, 135, 135);
  }
  &.nat .box {
    background-color: rgb(255, 239, 213);
  }
  &.olv .box {
    background-color: rgb(102, 102, 51);
  }
  &.org .box {
    background-color: rgb(255, 47, 0);
  }
  &.pnk .box {
    background-color: rgb(255, 204, 255);
  }
  &.prp .box {
    background-color: rgb(102, 0, 204);
  }
  &.pup .box {
    background-color: rgb(114, 19, 178);
  }
  &.red .box {
    background-color: rgb(236, 16, 16);
  }
  &.rpt .box {
    background-color: rgb(153, 0, 0);
  }
  &.sil .box, &.smt .box, &.spt .box {
    background-color: rgb(220, 220, 220);
  }
  &.tan .box {
    background-color: rgb(197, 152, 97);
  }
  &.vlt .box {
    background-color: rgb(214, 141, 255);
  }
  &.wet .box {
    background-color: rgb(255, 247, 0);
  }
  &.whi .box {
    background-color: #ffffff;
  }
  &.yel .box {
    background-color: rgb(255, 247, 0);
  }
}

/* bad color code */

/**
 * product tables
 */

.node-type-product {
  table.views-table {
    clear: both;
    margin: 20px 0;
    font-size: 13px;
    background-color: #ffffff;
    border: 1px solid transparent;
    width: 100%;
    thead th {
      background-color: #003e69;
      color: #ffffff;
      text-transform: uppercase;
      padding: 8px 12px;
      font-size: 12px;
      font-weight: bold;
      border: none !important;
      vertical-align: middle;
    }
    tbody {
      tr {
        background-color: #ffffff !important;
        td {
          padding: 6px 12px;
          border: 1px solid #ffffff;
        }
      }
      td.region {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
      }
      tr td.gray_cell {
        background-color: #cccccc;
        font-weight: bold;
      }
    }
    tfoot tr td {
      background-color: #003e69;
      color: #ffffff;
    }
    thead th.views-field-field-product-available-colors {
      width: 36%;
    }
    .views-field-field-property-standard, .views-field-field-property-metric, .views-field-field-astm-test-method {
      text-align: center;
    }
  }
  .view-physical-properties table.views-table tbody tr td:first-child {
    background-color: #cccccc;
    font-weight: bold;
    text-transform: uppercase;
  }
  table.views-table .views-field-field-astm-test-method ul {
    list-style-type: none !important;
    list-style-image: none !important;
    margin: 0 !important;
    li {
      margin: 0 !important;
    }
  }
  .view-product-colors table.views-table {
    td, th {
      text-align: center;
    }
    .views-field-field-product-dimensions, .views-field-field-product-available-colors {
      text-align: left;
    }
  }
  .product_data_table {
    .blue_bar {
      margin-bottom: 1px;
      padding: 0;
      display: table;
      width: 100%;
      .col {
        display: table-cell;
        vertical-align: middle;
        font-size: 11px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
    .views-row {
      display: table;
      width: 100%;
      margin-bottom: 1px;
      > div {
        > {
          span {
            display: none;
          }
          div {
            padding: 8px 0;
            text-transform: uppercase;
            font-weight: normal;
            font-size: 0.9em;
            &.field-content {
              text-transform: none;
              font-weight: normal;
              display: block;
              overflow: hidden;
            }
          }
        }
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}

/**
 * product data tables (changing from <table> to <ul> output block for mobile design)
 */

/**
 * product data table - physical properties tab
 */

.product_data_table {
  &#physical_tab {
    .blue_bar .col {
      width: 19%;
      &.title_col {
        width: 37%;
        text-align: left;
      }
    }
    .views-row > div {
      width: 37%;
      text-align: left;
    }
    .blue_bar .col.astm_col {
      width: 24%;
      text-align: left;
    }
    .views-row {
      .views-label {
        display: none;
      }
      > div {
        > div {
          background-color: #cccccc;
          text-transform: uppercase;
          font-weight: bold;
          padding: 8px;
          &.field-content {
            background-color: #ffffff;
            text-transform: none;
            font-weight: normal;
          }
        }
        &.views-field-field-property-standard, &.views-field-field-property-metric, &.views-field-field-astm-test-method-1 {
          background-color: #ffffff;
        }
        &.views-field-field-property-standard {
          width: 19%;
          text-align: center;
        }
        &.views-field-field-property-metric {
          width: 18%;
          text-align: center;
        }
        &.views-field-field-astm-test-method-1 {
          width: 24%;
        }
        &.views-field-field-property-standard > div.field-content, &.views-field-field-property-metri > div.field-content, &.views-field-field-astm-test-method-1 > div.field-content {
          padding: 8px 0;
        }
      }
    }
  }
  &#size_color_tab {
    .blue_bar .col, .views-row > div {
      width: 17.33333%;
    }
    .blue_bar .col {
      &.dimensions_col {
        text-align: left;
        width: 13%;
        padding-left: 8px;
      }
      &.colors_col {
        width: 35%;
      }
    }
    .views-row > div {
      &.views-field-field-product-available-colors {
        width: 35%;
      }
      > {
        span {
          display: none;
        }
        div {
          text-align: center;
        }
      }
      &.views-field-field-product-dimensions {
        width: 13%;
        padding-left: 6px;
      }
    }
    .blue_bar .col.colors_col {
      text-align: left;
    }
    .views-row > div {
      &.views-field-field-product-dimensions > div, &.views-field-field-product-available-colors > div {
        text-align: left;
      }
    }
  }
  &#downloads_tab .grid_group .views-row {
    width: 33.333%;
    display: inline-block;
    float: left !important;
    clear: none;
  }
}

/**
 * product product table - size + color tab
 */

/**
 * product product table - downloads tab
 */

/**
 * product index page
 */

.page-products #content {
  .fixed_wrap.white_box {
    padding-left: 0 !important;
  }
  h3.blue_bar {
    font-size: 16px !important;
    font-weight: bold;
    margin-bottom: 0 !important;
  }
}

/**
 * responsiveness
 */
/* sm devices (tablets) */
@media (min-width: 768px) and (max-width: 991px) {}

/* xs devices (phones) */
@media (max-width: 767px) {}

/* xs devices (phones) */
@media (max-width: 500px) {}
