/**
 * slideshow CSS for custom slideshow (non-plugin)
 */

.slideshow {
  position: relative;
  clear: both;
  min-height: 461px;
  img {
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)";
    /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
    /* IE6 & 7 */
    zoom: 1;
    width: 1145px;
    height: 461px;
    display: block;
  }
  .slides {
    width: 1145px;
    height: 461px;
    overflow: hidden;
  }
  .slide {
    display: none;
    &.current {
      display: block;
    }
  }
  .controls {
    position: absolute;
    top: 340px;
    left: 930px;
    z-index: 999;
    a {
      background-color: transparent;
      background-image: url(../images/btn_slidenav.png);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      width: 20px;
      height: 20px;
      float: left;
      margin: 0 2px;
      display: inline-block;
      font-size: 0px;
      &.activeSlide {
        background-image: url(../images/btn_slidenav_active.png);
      }
    }
  }
}
