.front .product_grid ul li a.item .item_title,
.product_grid ul li a.item .item_content .item_title {
  padding-bottom: 0px;
  min-height: 0px;
  height: 46px; }

/*# sourceMappingURL=maps/ie8.css.map */