.location_filters {
	background: #003e69;
	color: white;
	margin-top: 15px;
	margin-bottom: 20px;
	padding: 5px 20px;
}

.location_filters h2 {
	float: left;
	font-size: 18px;
	margin-top: 37px;
}

.location_filters select,
.location_filters input {
	background: white;
	border: 1px solid #ababab;
	border-radius: 0;
	display: inline-block;
	font-size: 13px;
	height: auto;
	line-height: 13px;
	padding: 5px 10px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.location_filters select {
	padding: 0;
}

.location_filters .views-exposed-form {
	float: right;
	width: 570px;
}

.location_filters .views-exposed-widget {
	display: inline-block;
	padding: 0;
}

.location_filters .views-exposed-form .views-exposed-widget .form-submit {
	margin: 0;
}

#edit-distance-wrapper {
	margin: .5em 0;
}

.location_filters .views-exposed-form label {
	display: none;
}

#edit-distance-wrapper {
	background: url('../images/location_or.png') no-repeat center bottom;
	display: block;
	padding-bottom: 20px;
}

#edit-distance-wrapper .form-item {
	display: inline-block;
}

input#edit-field-city-value,
input#edit-distance-postal-code {
	margin-right: 40px;
	width: 250px;
}
input#edit-distance-search-distance {
	width: 64px;
}

select#edit-distance-search-distance,
select#edit-field-state-value.form-select {
	margin-right: 10px;
	width: 166px;
}
select#edit-field-state-value.form-select {
	margin-left: 3px;
	margin-right: 14px;
}

select#edit-distance-search-units {
	margin-right: 10px;
	width: 94px;
}

input#edit-submit-store-locator {
	background: #f57e20;
	border: none;
	border-radius: 4px;
	color: white;
	padding: 7px 20px;
	text-transform: uppercase;
}



.where-to-buy h1 {
	color: #003e69;
	font-size: 22px;
	padding: 0 20px;
}

.location_results {
	padding: 0 20px;
}

.location_results h2 {
	color: #003e69;
	font-size: 18px;
	margin-top: 10px;
}

.location-results {
	font-size: 13px;
	height: 566px;
	overflow: auto;
	padding-right: 10px;
	width: 300px;
}

#content .location_results .results a {
	color: #ff6600;
	text-decoration: none;
}

#content .location_results .results a.location-directions {
	background: #003e69;
	color: white;
	display: inline-block;
	margin-top: 5px;
	padding: 3px 8px;
	text-decoration: none;
	border-radius: 4px;
}

.gmap-popup a.location-directions {
	display: none;
}

.location_results .views-field-field-state {
	text-transform: uppercase;
}

.location_results .views-row-first {
	border-top: 1px solid #e6e6e6;
}

.location_results .views-row {
	border-bottom: 1px solid #e6e6e6;
	cursor: pointer;
	padding: 15px 0;
}

.location-map {
	float: right;
	margin-right: 10px;
}