@charset "UTF-8";
/*!
 *  Font Awesome 4.3.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
.front.i18n-es #header #top_cta{
 	right:315px;
 } 
.front.i18n-es #nav ul.primary_menu li.link_resources_item{
	display:none;
 }
.front.i18n-es #nav ul.primary_menu li.link_products_item{
    /*	margin-left:145px; */
 }
.front.i18n-es #subcontent #cta_nav .intro{
	 line-height: 26px;
    padding-top: 18px;
    text-align: left;
}
.front.i18n-es #subcontent .btn-lg{
	font-size:16px;
}
.front.i18n-es #subcontent #cta_nav .secondary .btn{
	width: 222px;
}
.i18n-es #footer #footer_third{
	display:none;
}
.i18n-es #footer #footer_second.col{
	width:30%;
}
.i18n-es #footer #footer_fourth.col{
	width:32%;
}

.i18n-es.node-type-product #detail_content .detail_content .cta_box{
	width: 290px;
}
